* html .u0_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u0_original.png");
}

* html .u2_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u2_original.png");
}

* html .u4_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u4_original.png");
}

* html .u6_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u6_down.png");
}

* html .u6_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u6_down.png");
}

* html .u6_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u6_original.png");
}

* html .u8_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u8_down.png");
}

* html .u8_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u8_down.png");
}

* html .u8_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u8_original.png");
}

* html .u10_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u10_original.png");
}

* html .u12_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u8_down.png");
}

* html .u12_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u8_down.png");
}

* html .u12_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u8_original.png");
}

* html .u14_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u14_original.png");
}

* html .u18_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u18_down.png");
}

* html .u18_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u18_selected.png");
}

* html .u18_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u18_original.png");
}

* html .u20_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u20_down.png");
}

* html .u20_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u20_selected.png");
}

* html .u20_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u20_original.png");
}

* html .u22_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u22_line.png");
}

* html .u24_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u18_down.png");
}

* html .u24_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u18_selected.png");
}

* html .u24_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u18_original.png");
}

* html .u26_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u20_down.png");
}

* html .u26_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u20_selected.png");
}

* html .u26_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u20_original.png");
}

* html .u28_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u28_line.png");
}

* html .u29_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u29_original.png");
}

* html .u33_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u18_down.png");
}

* html .u33_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u18_selected.png");
}

* html .u33_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u18_original.png");
}

* html .u35_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u20_down.png");
}

* html .u35_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u20_selected.png");
}

* html .u35_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u20_original.png");
}

* html .u37_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u37_line.png");
}

* html .u39_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u18_down.png");
}

* html .u39_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u18_selected.png");
}

* html .u39_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u18_original.png");
}

* html .u41_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u20_down.png");
}

* html .u41_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u20_selected.png");
}

* html .u41_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u20_original.png");
}

* html .u43_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u43_line.png");
}

* html .u44_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u29_original.png");
}

* html .u53_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u18_down.png");
}

* html .u53_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u18_selected.png");
}

* html .u53_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u18_original.png");
}

* html .u55_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u20_down.png");
}

* html .u55_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u20_selected.png");
}

* html .u55_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u20_original.png");
}

* html .u57_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u57_line.png");
}

* html .u59_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u29_original.png");
}

* html .u63_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u18_down.png");
}

* html .u63_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u18_selected.png");
}

* html .u63_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u18_original.png");
}

* html .u65_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u20_down.png");
}

* html .u65_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u20_selected.png");
}

* html .u65_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u20_original.png");
}

* html .u67_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u67_line.png");
}

* html .u69_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u18_down.png");
}

* html .u69_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u18_selected.png");
}

* html .u69_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u18_original.png");
}

* html .u71_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u20_down.png");
}

* html .u71_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u20_selected.png");
}

* html .u71_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u20_original.png");
}

* html .u73_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u73_line.png");
}

* html .u75_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u75_down.png");
}

* html .u75_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u75_selected.png");
}

* html .u75_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u75_original.png");
}

* html .u77_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u77_down.png");
}

* html .u77_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u77_selected.png");
}

* html .u77_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u77_original.png");
}

* html .u79_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u79_line.png");
}

* html .u80_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u29_original.png");
}

* html .u86_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u18_down.png");
}

* html .u86_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u18_selected.png");
}

* html .u86_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u18_original.png");
}

* html .u88_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u20_down.png");
}

* html .u88_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u20_selected.png");
}

* html .u88_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u20_original.png");
}

* html .u90_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u90_line.png");
}

* html .u91_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u18_down.png");
}

* html .u91_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u18_selected.png");
}

* html .u91_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u18_original.png");
}

* html .u93_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u20_down.png");
}

* html .u93_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u20_selected.png");
}

* html .u93_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u20_original.png");
}

* html .u95_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u95_line.png");
}

* html .u96_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u18_down.png");
}

* html .u96_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u18_selected.png");
}

* html .u96_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u18_original.png");
}

* html .u98_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u20_down.png");
}

* html .u98_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u20_selected.png");
}

* html .u98_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u20_original.png");
}

* html .u100_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u100_line.png");
}

* html .u101_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u29_original.png");
}

* html .u113_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u29_original.png");
}

