body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../Community_Questions_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:480px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:486px;
}

.u1 {
    position:absolute;
    left:2px;
    top:232px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:480px
}

.u2_original {
    background-image: url('../Community_Questions_files/u2_original.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:16px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:22px;
}

.u3 {
    position:absolute;
    left:2px;
    top:0px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:16px
}

.u4_original {
    background-image: url('../Community_Questions_files/u4_original.png');
}

.u4_container {
    position:absolute;
    left:0px;
    top:16px;
    width:320px;
    height:64px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:70px;
}

.u5 {
    position:absolute;
    left:2px;
    top:24px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:0px;
    top:16px;
    width:320px;
    height:64px
}

.u6_down {
    background-image: url('../Community_Questions_files/u6_down.png');
}

.u6_selected {
    background-image: url('../Community_Questions_files/u6_down.png');
}

.u6_original {
    background-image: url('../Community_Questions_files/u6_original.png');
}

.u6_container {
    position:absolute;
    left:112px;
    top:28px;
    width:96px;
    height:40px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:102px;
    height:46px;
}

.u7 {
    position:absolute;
    left:8px;
    top:11px;
    width:80px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:112px;
    top:28px;
    width:96px;
    height:40px
}

.u8_down {
    background-image: url('../Community_Questions_files/u8_down.png');
}

.u8_selected {
    background-image: url('../Community_Questions_files/u8_down.png');
}

.u8_original {
    background-image: url('../Community_Questions_files/u8_original.png');
}

.u8_container {
    position:absolute;
    left:224px;
    top:28px;
    width:80px;
    height:40px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:46px;
}

.u9 {
    position:absolute;
    left:8px;
    top:11px;
    width:64px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:224px;
    top:28px;
    width:80px;
    height:40px
}

.u10_original {
    background-image: url('../Community_Questions_files/u10_original.png');
}

.u10_container {
    position:absolute;
    left:268px;
    top:32px;
    width:32px;
    height:32px;
}

#u10_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u11 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:268px;
    top:32px;
    width:32px;
    height:32px
}

.u12_down {
    background-image: url('../Community_Questions_files/u8_down.png');
}

.u12_selected {
    background-image: url('../Community_Questions_files/u8_down.png');
}

.u12_original {
    background-image: url('../Community_Questions_files/u8_original.png');
}

.u12_container {
    position:absolute;
    left:16px;
    top:28px;
    width:80px;
    height:40px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:46px;
}

.u13 {
    position:absolute;
    left:8px;
    top:11px;
    width:64px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:16px;
    top:28px;
    width:80px;
    height:40px
}

.u14_original {
    background-image: url('../Community_Questions_files/u14_original.png');
}

.u14_container {
    position:absolute;
    left:20px;
    top:32px;
    width:32px;
    height:32px;
}

#u14_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u15 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:20px;
    top:32px;
    width:32px;
    height:32px
}

.u17 {
    position:absolute;
    left:16px;
    top:160px;
    width:280px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_down {
    background-image: url('../Community_Questions_files/u18_down.png');
}

.u18_selected {
    background-image: url('../Community_Questions_files/u18_selected.png');
}

.u18_original {
    background-image: url('../Community_Questions_files/u18_original.png');
}

.u18_container {
    position:absolute;
    left:32px;
    top:184px;
    width:128px;
    height:48px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:54px;
}

.u19 {
    position:absolute;
    left:2px;
    top:15px;
    width:124px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:32px;
    top:184px;
    width:128px;
    height:48px
}

.u20_down {
    background-image: url('../Community_Questions_files/u20_down.png');
}

.u20_selected {
    background-image: url('../Community_Questions_files/u20_selected.png');
}

.u20_original {
    background-image: url('../Community_Questions_files/u20_original.png');
}

.u20_container {
    position:absolute;
    left:160px;
    top:184px;
    width:128px;
    height:48px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:54px;
}

.u21 {
    position:absolute;
    left:2px;
    top:15px;
    width:124px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:160px;
    top:184px;
    width:128px;
    height:48px
}

.u22_line {
    background-image: url('../Community_Questions_files/u22_line.png');
}

.u22_line {
    position:absolute;
    left:159px;
    top:184px;
    width:3px;
    height:48px;
}

.u22 {
    position:absolute;
    left:159px;
    top:184px;
    width:3px;
    height:48px
}

.u23 {
    position:absolute;
    left:16px;
    top:48px;
    width:280px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_down {
    background-image: url('../Community_Questions_files/u18_down.png');
}

.u24_selected {
    background-image: url('../Community_Questions_files/u18_selected.png');
}

.u24_original {
    background-image: url('../Community_Questions_files/u18_original.png');
}

.u24_container {
    position:absolute;
    left:32px;
    top:80px;
    width:128px;
    height:48px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:54px;
}

.u25 {
    position:absolute;
    left:2px;
    top:15px;
    width:124px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:32px;
    top:80px;
    width:128px;
    height:48px
}

.u26_down {
    background-image: url('../Community_Questions_files/u20_down.png');
}

.u26_selected {
    background-image: url('../Community_Questions_files/u20_selected.png');
}

.u26_original {
    background-image: url('../Community_Questions_files/u20_original.png');
}

.u26_container {
    position:absolute;
    left:160px;
    top:80px;
    width:128px;
    height:48px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:54px;
}

.u27 {
    position:absolute;
    left:2px;
    top:15px;
    width:124px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:160px;
    top:80px;
    width:128px;
    height:48px
}

.u28_line {
    background-image: url('../Community_Questions_files/u28_line.png');
}

.u28_line {
    position:absolute;
    left:159px;
    top:80px;
    width:3px;
    height:48px;
}

.u28 {
    position:absolute;
    left:159px;
    top:80px;
    width:3px;
    height:48px
}

.u29_original {
    background-image: url('../Community_Questions_files/u29_original.png');
}

.u29_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:32px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:38px;
}

.u30 {
    position:absolute;
    left:2px;
    top:8px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:32px
}

.u31 {
    position:absolute;
    left:16px;
    top:8px;
    width:214px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:16px;
    top:48px;
    width:280px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_down {
    background-image: url('../Community_Questions_files/u18_down.png');
}

.u33_selected {
    background-image: url('../Community_Questions_files/u18_selected.png');
}

.u33_original {
    background-image: url('../Community_Questions_files/u18_original.png');
}

.u33_container {
    position:absolute;
    left:32px;
    top:88px;
    width:128px;
    height:48px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:54px;
}

.u34 {
    position:absolute;
    left:2px;
    top:15px;
    width:124px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:32px;
    top:88px;
    width:128px;
    height:48px
}

.u35_down {
    background-image: url('../Community_Questions_files/u20_down.png');
}

.u35_selected {
    background-image: url('../Community_Questions_files/u20_selected.png');
}

.u35_original {
    background-image: url('../Community_Questions_files/u20_original.png');
}

.u35_container {
    position:absolute;
    left:160px;
    top:88px;
    width:128px;
    height:48px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:54px;
}

.u36 {
    position:absolute;
    left:2px;
    top:15px;
    width:124px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:160px;
    top:88px;
    width:128px;
    height:48px
}

.u37_line {
    background-image: url('../Community_Questions_files/u37_line.png');
}

.u37_line {
    position:absolute;
    left:159px;
    top:88px;
    width:3px;
    height:48px;
}

.u37 {
    position:absolute;
    left:159px;
    top:88px;
    width:3px;
    height:48px
}

.u38 {
    position:absolute;
    left:16px;
    top:176px;
    width:280px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_down {
    background-image: url('../Community_Questions_files/u18_down.png');
}

.u39_selected {
    background-image: url('../Community_Questions_files/u18_selected.png');
}

.u39_original {
    background-image: url('../Community_Questions_files/u18_original.png');
}

.u39_container {
    position:absolute;
    left:32px;
    top:200px;
    width:128px;
    height:48px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:54px;
}

.u40 {
    position:absolute;
    left:2px;
    top:15px;
    width:124px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:32px;
    top:200px;
    width:128px;
    height:48px
}

.u41_down {
    background-image: url('../Community_Questions_files/u20_down.png');
}

.u41_selected {
    background-image: url('../Community_Questions_files/u20_selected.png');
}

.u41_original {
    background-image: url('../Community_Questions_files/u20_original.png');
}

.u41_container {
    position:absolute;
    left:160px;
    top:200px;
    width:128px;
    height:48px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:54px;
}

.u42 {
    position:absolute;
    left:2px;
    top:15px;
    width:124px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:160px;
    top:200px;
    width:128px;
    height:48px
}

.u43_line {
    background-image: url('../Community_Questions_files/u43_line.png');
}

.u43_line {
    position:absolute;
    left:159px;
    top:200px;
    width:3px;
    height:48px;
}

.u43 {
    position:absolute;
    left:159px;
    top:200px;
    width:3px;
    height:48px
}

.u44_original {
    background-image: url('../Community_Questions_files/u29_original.png');
}

.u44_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:32px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:38px;
}

.u45 {
    position:absolute;
    left:2px;
    top:8px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:32px
}

.u46 {
    position:absolute;
    left:18px;
    top:8px;
    width:174px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:0px;
    top:0px;
    width:288px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:0px;
    top:40px;
    width:288px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u51 {
    position:absolute;
    left:0px;
    top:0px;
    width:288px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:0px;
    top:96px;
    width:280px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_down {
    background-image: url('../Community_Questions_files/u18_down.png');
}

.u53_selected {
    background-image: url('../Community_Questions_files/u18_selected.png');
}

.u53_original {
    background-image: url('../Community_Questions_files/u18_original.png');
}

.u53_container {
    position:absolute;
    left:16px;
    top:120px;
    width:128px;
    height:48px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:54px;
}

.u54 {
    position:absolute;
    left:2px;
    top:15px;
    width:124px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:16px;
    top:120px;
    width:128px;
    height:48px
}

.u55_down {
    background-image: url('../Community_Questions_files/u20_down.png');
}

.u55_selected {
    background-image: url('../Community_Questions_files/u20_selected.png');
}

.u55_original {
    background-image: url('../Community_Questions_files/u20_original.png');
}

.u55_container {
    position:absolute;
    left:144px;
    top:120px;
    width:128px;
    height:48px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:54px;
}

.u56 {
    position:absolute;
    left:2px;
    top:15px;
    width:124px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:144px;
    top:120px;
    width:128px;
    height:48px
}

.u57_line {
    background-image: url('../Community_Questions_files/u57_line.png');
}

.u57_line {
    position:absolute;
    left:143px;
    top:120px;
    width:3px;
    height:48px;
}

.u57 {
    position:absolute;
    left:143px;
    top:120px;
    width:3px;
    height:48px
}

.u58 {
    position:absolute;
    left:0px;
    top:40px;
    width:288px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u59_original {
    background-image: url('../Community_Questions_files/u29_original.png');
}

.u59_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:32px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:38px;
}

.u60 {
    position:absolute;
    left:2px;
    top:8px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:32px
}

.u61 {
    position:absolute;
    left:16px;
    top:8px;
    width:214px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62 {
    position:absolute;
    left:16px;
    top:48px;
    width:280px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_down {
    background-image: url('../Community_Questions_files/u18_down.png');
}

.u63_selected {
    background-image: url('../Community_Questions_files/u18_selected.png');
}

.u63_original {
    background-image: url('../Community_Questions_files/u18_original.png');
}

.u63_container {
    position:absolute;
    left:32px;
    top:88px;
    width:128px;
    height:48px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:54px;
}

.u64 {
    position:absolute;
    left:2px;
    top:15px;
    width:124px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:32px;
    top:88px;
    width:128px;
    height:48px
}

.u65_down {
    background-image: url('../Community_Questions_files/u20_down.png');
}

.u65_selected {
    background-image: url('../Community_Questions_files/u20_selected.png');
}

.u65_original {
    background-image: url('../Community_Questions_files/u20_original.png');
}

.u65_container {
    position:absolute;
    left:160px;
    top:88px;
    width:128px;
    height:48px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:54px;
}

.u66 {
    position:absolute;
    left:2px;
    top:15px;
    width:124px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:160px;
    top:88px;
    width:128px;
    height:48px
}

.u67_line {
    background-image: url('../Community_Questions_files/u67_line.png');
}

.u67_line {
    position:absolute;
    left:159px;
    top:88px;
    width:3px;
    height:48px;
}

.u67 {
    position:absolute;
    left:159px;
    top:88px;
    width:3px;
    height:48px
}

.u68 {
    position:absolute;
    left:16px;
    top:176px;
    width:280px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_down {
    background-image: url('../Community_Questions_files/u18_down.png');
}

.u69_selected {
    background-image: url('../Community_Questions_files/u18_selected.png');
}

.u69_original {
    background-image: url('../Community_Questions_files/u18_original.png');
}

.u69_container {
    position:absolute;
    left:32px;
    top:200px;
    width:128px;
    height:48px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:54px;
}

.u70 {
    position:absolute;
    left:2px;
    top:15px;
    width:124px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:32px;
    top:200px;
    width:128px;
    height:48px
}

.u71_down {
    background-image: url('../Community_Questions_files/u20_down.png');
}

.u71_selected {
    background-image: url('../Community_Questions_files/u20_selected.png');
}

.u71_original {
    background-image: url('../Community_Questions_files/u20_original.png');
}

.u71_container {
    position:absolute;
    left:160px;
    top:200px;
    width:128px;
    height:48px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:54px;
}

.u72 {
    position:absolute;
    left:2px;
    top:15px;
    width:124px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:160px;
    top:200px;
    width:128px;
    height:48px
}

.u73_line {
    background-image: url('../Community_Questions_files/u73_line.png');
}

.u73_line {
    position:absolute;
    left:159px;
    top:200px;
    width:3px;
    height:48px;
}

.u73 {
    position:absolute;
    left:159px;
    top:200px;
    width:3px;
    height:48px
}

.u74 {
    position:absolute;
    left:16px;
    top:288px;
    width:280px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_down {
    background-image: url('../Community_Questions_files/u75_down.png');
}

.u75_selected {
    background-image: url('../Community_Questions_files/u75_selected.png');
}

.u75_original {
    background-image: url('../Community_Questions_files/u75_original.png');
}

.u75_container {
    position:absolute;
    left:32px;
    top:312px;
    width:122px;
    height:48px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:128px;
    height:54px;
}

.u76 {
    position:absolute;
    left:2px;
    top:15px;
    width:118px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75 {
    position:absolute;
    left:32px;
    top:312px;
    width:122px;
    height:48px
}

.u77_down {
    background-image: url('../Community_Questions_files/u77_down.png');
}

.u77_selected {
    background-image: url('../Community_Questions_files/u77_selected.png');
}

.u77_original {
    background-image: url('../Community_Questions_files/u77_original.png');
}

.u77_container {
    position:absolute;
    left:154px;
    top:312px;
    width:134px;
    height:48px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:140px;
    height:54px;
}

.u78 {
    position:absolute;
    left:2px;
    top:15px;
    width:130px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77 {
    position:absolute;
    left:154px;
    top:312px;
    width:134px;
    height:48px
}

.u79_line {
    background-image: url('../Community_Questions_files/u79_line.png');
}

.u79_line {
    position:absolute;
    left:153px;
    top:312px;
    width:3px;
    height:48px;
}

.u79 {
    position:absolute;
    left:153px;
    top:312px;
    width:3px;
    height:48px
}

.u80_original {
    background-image: url('../Community_Questions_files/u29_original.png');
}

.u80_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:32px;
}

#u80_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:38px;
}

.u81 {
    position:absolute;
    left:2px;
    top:8px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80 {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:32px
}

.u82 {
    position:absolute;
    left:18px;
    top:8px;
    width:174px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83 {
    position:absolute;
    left:16px;
    top:48px;
    width:304px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84 {
    position:absolute;
    left:16px;
    top:158px;
    width:288px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85 {
    position:absolute;
    left:16px;
    top:272px;
    width:288px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86_down {
    background-image: url('../Community_Questions_files/u18_down.png');
}

.u86_selected {
    background-image: url('../Community_Questions_files/u18_selected.png');
}

.u86_original {
    background-image: url('../Community_Questions_files/u18_original.png');
}

.u86_container {
    position:absolute;
    left:32px;
    top:72px;
    width:128px;
    height:48px;
}

#u86_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:54px;
}

.u87 {
    position:absolute;
    left:2px;
    top:15px;
    width:124px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:32px;
    top:72px;
    width:128px;
    height:48px
}

.u88_down {
    background-image: url('../Community_Questions_files/u20_down.png');
}

.u88_selected {
    background-image: url('../Community_Questions_files/u20_selected.png');
}

.u88_original {
    background-image: url('../Community_Questions_files/u20_original.png');
}

.u88_container {
    position:absolute;
    left:160px;
    top:72px;
    width:128px;
    height:48px;
}

#u88_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:54px;
}

.u89 {
    position:absolute;
    left:2px;
    top:15px;
    width:124px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88 {
    position:absolute;
    left:160px;
    top:72px;
    width:128px;
    height:48px
}

.u90_line {
    background-image: url('../Community_Questions_files/u90_line.png');
}

.u90_line {
    position:absolute;
    left:158px;
    top:72px;
    width:3px;
    height:48px;
}

.u90 {
    position:absolute;
    left:158px;
    top:72px;
    width:3px;
    height:48px
}

.u91_down {
    background-image: url('../Community_Questions_files/u18_down.png');
}

.u91_selected {
    background-image: url('../Community_Questions_files/u18_selected.png');
}

.u91_original {
    background-image: url('../Community_Questions_files/u18_original.png');
}

.u91_container {
    position:absolute;
    left:32px;
    top:184px;
    width:128px;
    height:48px;
}

#u91_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:54px;
}

.u92 {
    position:absolute;
    left:2px;
    top:15px;
    width:124px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91 {
    position:absolute;
    left:32px;
    top:184px;
    width:128px;
    height:48px
}

.u93_down {
    background-image: url('../Community_Questions_files/u20_down.png');
}

.u93_selected {
    background-image: url('../Community_Questions_files/u20_selected.png');
}

.u93_original {
    background-image: url('../Community_Questions_files/u20_original.png');
}

.u93_container {
    position:absolute;
    left:160px;
    top:184px;
    width:128px;
    height:48px;
}

#u93_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:54px;
}

.u94 {
    position:absolute;
    left:2px;
    top:15px;
    width:124px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93 {
    position:absolute;
    left:160px;
    top:184px;
    width:128px;
    height:48px
}

.u95_line {
    background-image: url('../Community_Questions_files/u95_line.png');
}

.u95_line {
    position:absolute;
    left:159px;
    top:184px;
    width:3px;
    height:48px;
}

.u95 {
    position:absolute;
    left:159px;
    top:184px;
    width:3px;
    height:48px
}

.u96_down {
    background-image: url('../Community_Questions_files/u18_down.png');
}

.u96_selected {
    background-image: url('../Community_Questions_files/u18_selected.png');
}

.u96_original {
    background-image: url('../Community_Questions_files/u18_original.png');
}

.u96_container {
    position:absolute;
    left:32px;
    top:296px;
    width:128px;
    height:48px;
}

#u96_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:54px;
}

.u97 {
    position:absolute;
    left:2px;
    top:15px;
    width:124px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96 {
    position:absolute;
    left:32px;
    top:296px;
    width:128px;
    height:48px
}

.u98_down {
    background-image: url('../Community_Questions_files/u20_down.png');
}

.u98_selected {
    background-image: url('../Community_Questions_files/u20_selected.png');
}

.u98_original {
    background-image: url('../Community_Questions_files/u20_original.png');
}

.u98_container {
    position:absolute;
    left:160px;
    top:296px;
    width:128px;
    height:48px;
}

#u98_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:54px;
}

.u99 {
    position:absolute;
    left:2px;
    top:15px;
    width:124px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98 {
    position:absolute;
    left:160px;
    top:296px;
    width:128px;
    height:48px
}

.u100_line {
    background-image: url('../Community_Questions_files/u100_line.png');
}

.u100_line {
    position:absolute;
    left:159px;
    top:296px;
    width:3px;
    height:48px;
}

.u100 {
    position:absolute;
    left:159px;
    top:296px;
    width:3px;
    height:48px
}

.u101_original {
    background-image: url('../Community_Questions_files/u29_original.png');
}

.u101_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:32px;
}

#u101_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:38px;
}

.u102 {
    position:absolute;
    left:2px;
    top:8px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101 {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:32px
}

.u103 {
    position:absolute;
    left:18px;
    top:8px;
    width:174px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104 {
    position:absolute;
    left:16px;
    top:48px;
    width:280px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105 {
    position:absolute;
    left:16px;
    top:142px;
    width:288px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106 {
    position:absolute;
    left:16px;
    top:224px;
    width:288px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107 {
    position:absolute;
    left:16px;
    top:72px;
    width:288px;
    height:32px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 16px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u108 {
    position:absolute;
    left:16px;
    top:248px;
    width:288px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 16px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u109 {
    position:absolute;
    left:16px;
    top:168px;
    width:48px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 16px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u110 {
    position:absolute;
    left:128px;
    top:168px;
    width:48px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 16px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u111 {
    position:absolute;
    left:72px;
    top:168px;
    width:48px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112 {
    position:absolute;
    left:184px;
    top:168px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113_original {
    background-image: url('../Community_Questions_files/u29_original.png');
}

.u113_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:32px;
}

#u113_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:38px;
}

.u114 {
    position:absolute;
    left:2px;
    top:8px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113 {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:32px
}

.u115 {
    position:absolute;
    left:18px;
    top:8px;
    width:174px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

