/*
Description: 	Theme for adamrule.com portfolio pages
Author: 	Adam Rule, 2011
*/

a.plain:link, a.plain:visited {
	color: #333;
}

a.plain:hover, a.plain:active {
	color: #333;
}

h2 {
	font-size: 2.5em;
	font-weight: normal;
	color: #333;
	font-weight: bold;
	margin-bottom: 0px;
}

h3.portfolio_top {
	margin-top: -25px;
}

img.end_page {
	width: 350px;
	margin-bottom: 0px;
}

p.caption {
	text-align: center;
	color: #333;
	margin-top: 0px;
	margin-bottom: 25px;
}

p.credit {
	color: #999;
	font-size: 0.5em;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
}

p.prompt{
	font-size: 1.5em;
	font-style: italic;
	text-align: center;
	color: #333;
}

p.portfolio {
	margin-top: 10px;
	margin-bottom: 0px;
	color: #666;
	text-align: center;
}

.half {
	width: 350 px;
	margin-left: 25px;
	margin-right: 25px;
	float: left;
}

.onethird {
	width: 250px;
	margin-top: 25px;
	margin-right: 0px;
	text-align: left;
	float: left;
}

.middle {
	width:250px;
	margin-top: 25px;
	margin-right: 25px;
	margin-left: 25px;
	text-align:left;
	float: left;
}

.start_page {
	float: right;
	margin-left: 25px;
	margin-bottom: 25px;
}

