/*
Description: Theme for Adam Rule home
Author: Adam Rule, 2011
*/

h1{
	font-size: 2em;
	font-weight: normal;
	
}

h2{
	font-size: 1.5em;
	margin-bottom: 0;
	font-weight: normal;
}

h3{
	font-size: 1em;
	margin-top: 1em;
	margin-bottom: 0px;
}

h3.alt{
	margin-top: 0px;
	font-weight: normal;
	font-style: italic;
}

.section{
	padding-left: 1em;
}
