/*
Description: Theme for Adam Rule home
Author: Adam Rule, 2011
*/

body {
	color: #333;
}

h1{
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 0px;
	margin-top: 25px;
	color: #333;
}

h2{
	font-size: 1.5em;
	margin-top: 25px;
	margin-bottom: 0;
	font-weight: normal;
	color: #333;
}

h3{
	font-size: 1em;
	margin-top: 1em;
	margin-bottom: 0px;
	color: #333;
}

h3.alt{
	margin-top: 0px;
	font-weight: normal;
	font-style: italic;
}

.section{
	padding-left: 25px;
}

.right {
	float: right;
}

.left {
	float: left;
}
