body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u1_hover {
    background-image: url('../Start_1_files/u1_hover.png');
}

.u1_original {
    background-image: url('../Start_1_files/u1_original.png');
}

.u1_container {
    position:absolute;
    left:0px;
    top:0px;
    width:600px;
    height:361px;
}

#u1_img {
    position:absolute;
    left:0px;
    top:0px;
    width:600px;
    height:361px;
}

.u2 {
    position:absolute;
    left:2px;
    top:172px;
    width:596px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1 {
    position:absolute;
    left:0px;
    top:0px;
    width:600px;
    height:361px
}

.u4_text {
    position:absolute;
    left:0px;
    top:0px;
    width:540px;
    height:55px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:0px;
    top:0px;
    width:540px;
    height:55px
}

.u6_text {
    position:absolute;
    left:0px;
    top:0px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:0px;
    top:0px;
    width:150px;
    height:15px
}

