body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: 300;
    max-width: 950px;
    /* color: #494949; */
    margin: auto;
    background-color: #f7f7f7;
}

.about{
  font-size: 18px;
}

.reg-weight{
  font-weight: 400;
}

.callout{
  font-weight: 600;
}

.headshot{
  margin-bottom: 12px;
  border-radius: 20px;
}

.more-link{
  font-size: 14px;
  font-weight: 300;
}

a{
    color: #0479a8;
    font-weight: 400;
}

a:hover{
  color: #0479a8;
}

p{
  margin-bottom: 15px;
}

p.alt{
    text-align: right;
    padding-top: 3px;
    color: #999;
}

hr{
  margin: 24px 0px;
}

h1{
    font-size: 24px;
    margin-bottom: 16px;
}

h2{
    font-size: 18px;
    font-weight: 600;
}

h3{
    font-size: 16px;
    margin-bottom: 0px;
}

h4{
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 4px;
}

.headspace{
  margin-top: 24px;
}

.proj-img{
  border: 1px solid #DDDDDD;
  float:left;
  margin-top: 8px;
  margin-right: 12px;
  max-width:100px;
}

.proj-row{
  margin-bottom: 24px;
}

@media (max-width: 767px) {
  .headshot{
    max-width: 240px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
    border-radius: 10px;
  }
}
