body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14.5px;
    font-weight: 300;
    max-width: 950px;
    margin: auto;
}

.about{
  font-size: 17.5px;
}

.callout{
  font-weight: 600;
}

.headshot{
  margin-bottom: 12px;
  border-radius:5px;
}

a{
    color: #47b;
    font-weight: 400;
}

p.alt{
    text-align: right;
    padding-top: 3px;
    color: #999;
}

hr{
  margin: 30px 0px;
}

h1{
    font-size: 24px;
    margin-bottom: 16px;
}

h2{
    font-size: 18px;
    font-weight: 600;
}

h3{
    font-size: 16px;
    margin-bottom: 0px;
}

h4{
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 4px;
}

.proj-img{
  border: 1px solid #DDDDDD;
  float:left;
  margin-top: 8px;
  margin-right: 12px;
  max-width:100px;
}

.proj-row{
  margin-bottom: 2rem;
}
