body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../Clinician_Treatment_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:480px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:486px;
}

.u1 {
    position:absolute;
    left:2px;
    top:232px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:480px
}

.u2_original {
    background-image: url('../Clinician_Treatment_files/u2_original.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:16px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:22px;
}

.u3 {
    position:absolute;
    left:2px;
    top:0px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:16px
}

.u4_original {
    background-image: url('../Clinician_Treatment_files/u4_original.png');
}

.u4_container {
    position:absolute;
    left:0px;
    top:17px;
    width:320px;
    height:63px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:69px;
}

.u5 {
    position:absolute;
    left:2px;
    top:24px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:0px;
    top:17px;
    width:320px;
    height:63px
}

.u6_down {
    background-image: url('../Clinician_Treatment_files/u6_down.png');
}

.u6_selected {
    background-image: url('../Clinician_Treatment_files/u6_down.png');
}

.u6_original {
    background-image: url('../Clinician_Treatment_files/u6_original.png');
}

.u6_container {
    position:absolute;
    left:16px;
    top:28px;
    width:96px;
    height:40px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:102px;
    height:46px;
}

.u7 {
    position:absolute;
    left:8px;
    top:11px;
    width:80px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:16px;
    top:28px;
    width:96px;
    height:40px
}

.u8_down {
    background-image: url('../Clinician_Treatment_files/u8_down.png');
}

.u8_selected {
    background-image: url('../Clinician_Treatment_files/u8_down.png');
}

.u8_original {
    background-image: url('../Clinician_Treatment_files/u8_original.png');
}

.u8_container {
    position:absolute;
    left:216px;
    top:27px;
    width:88px;
    height:40px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:94px;
    height:46px;
}

.u9 {
    position:absolute;
    left:8px;
    top:11px;
    width:72px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:216px;
    top:27px;
    width:88px;
    height:40px
}

.u10_original {
    background-image: url('../Clinician_Treatment_files/u10_original.png');
}

.u10_container {
    position:absolute;
    left:272px;
    top:32px;
    width:32px;
    height:32px;
}

#u10_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u11 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:272px;
    top:32px;
    width:32px;
    height:32px
}

.u13 {
    position:absolute;
    left:16px;
    top:368px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_down {
    background-image: url('../Clinician_Treatment_files/u14_down.png');
}

.u14_selected {
    background-image: url('../Clinician_Treatment_files/u14_down.png');
}

.u14_original {
    background-image: url('../Clinician_Treatment_files/u14_original.png');
}

.u14_container {
    position:absolute;
    left:16px;
    top:392px;
    width:288px;
    height:48px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:294px;
    height:54px;
}

.u15 {
    position:absolute;
    left:8px;
    top:15px;
    width:278px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:16px;
    top:392px;
    width:288px;
    height:48px
}

.u16_down {
    background-image: url('../Clinician_Treatment_files/u14_down.png');
}

.u16_selected {
    background-image: url('../Clinician_Treatment_files/u14_down.png');
}

.u16_original {
    background-image: url('../Clinician_Treatment_files/u14_original.png');
}

.u16_container {
    position:absolute;
    left:16px;
    top:448px;
    width:288px;
    height:48px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:294px;
    height:54px;
}

.u17 {
    position:absolute;
    left:8px;
    top:15px;
    width:278px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:16px;
    top:448px;
    width:288px;
    height:48px
}

.u18_down {
    background-image: url('../Clinician_Treatment_files/u14_down.png');
}

.u18_selected {
    background-image: url('../Clinician_Treatment_files/u14_down.png');
}

.u18_original {
    background-image: url('../Clinician_Treatment_files/u14_original.png');
}

.u18_container {
    position:absolute;
    left:16px;
    top:626px;
    width:288px;
    height:48px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:294px;
    height:54px;
}

.u19 {
    position:absolute;
    left:8px;
    top:8px;
    width:278px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:16px;
    top:626px;
    width:288px;
    height:48px
}

.u20_down {
    background-image: url('../Clinician_Treatment_files/u14_down.png');
}

.u20_selected {
    background-image: url('../Clinician_Treatment_files/u14_down.png');
}

.u20_original {
    background-image: url('../Clinician_Treatment_files/u14_original.png');
}

.u20_container {
    position:absolute;
    left:16px;
    top:570px;
    width:288px;
    height:48px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:294px;
    height:54px;
}

.u21 {
    position:absolute;
    left:8px;
    top:15px;
    width:278px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:16px;
    top:570px;
    width:288px;
    height:48px
}

.u22_disabled {
    background-image: url('../Clinician_Treatment_files/u22_disabled.png');
}

.u22_original {
    background-image: url('../Clinician_Treatment_files/u22_original.png');
}

.u22_container {
    position:absolute;
    left:16px;
    top:720px;
    width:288px;
    height:48px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:294px;
    height:54px;
}

.u23 {
    position:absolute;
    left:2px;
    top:15px;
    width:284px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:16px;
    top:720px;
    width:288px;
    height:48px
}

.u24 {
    position:absolute;
    left:16px;
    top:544px;
    width:288px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:16px;
    top:128px;
    width:280px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_down {
    background-image: url('../Clinician_Treatment_files/u26_down.png');
}

.u26_selected {
    background-image: url('../Clinician_Treatment_files/u26_selected.png');
}

.u26_original {
    background-image: url('../Clinician_Treatment_files/u26_original.png');
}

.u26_container {
    position:absolute;
    left:32px;
    top:152px;
    width:128px;
    height:48px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:54px;
}

.u27 {
    position:absolute;
    left:2px;
    top:15px;
    width:124px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:32px;
    top:152px;
    width:128px;
    height:48px
}

.u28_down {
    background-image: url('../Clinician_Treatment_files/u28_down.png');
}

.u28_selected {
    background-image: url('../Clinician_Treatment_files/u28_selected.png');
}

.u28_original {
    background-image: url('../Clinician_Treatment_files/u28_original.png');
}

.u28_container {
    position:absolute;
    left:160px;
    top:152px;
    width:128px;
    height:48px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:54px;
}

.u29 {
    position:absolute;
    left:2px;
    top:15px;
    width:124px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:160px;
    top:152px;
    width:128px;
    height:48px
}

.u30_line {
    background-image: url('../Clinician_Treatment_files/u30_line.png');
}

.u30_line {
    position:absolute;
    left:159px;
    top:152px;
    width:3px;
    height:48px;
}

.u30 {
    position:absolute;
    left:159px;
    top:152px;
    width:3px;
    height:48px
}

.u31 {
    position:absolute;
    left:16px;
    top:264px;
    width:288px;
    height:64px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 16px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u32 {
    position:absolute;
    left:16px;
    top:240px;
    width:280px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:16px;
    top:48px;
    width:280px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:16px;
    top:80px;
    width:280px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_original {
    background-image: url('../Clinician_Treatment_files/u35_original.png');
}

.u35_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:32px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:38px;
}

.u36 {
    position:absolute;
    left:2px;
    top:8px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:32px
}

.u37 {
    position:absolute;
    left:18px;
    top:8px;
    width:174px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_down {
    background-image: url('../Clinician_Treatment_files/u39_down.png');
}

.u39_selected {
    background-image: url('../Clinician_Treatment_files/u39_down.png');
}

.u39_original {
    background-image: url('../Clinician_Treatment_files/u39_original.png');
}

.u39_container {
    position:absolute;
    left:0px;
    top:0px;
    width:208px;
    height:48px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:214px;
    height:54px;
}

.u40 {
    position:absolute;
    left:2px;
    top:15px;
    width:204px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:0px;
    top:0px;
    width:208px;
    height:48px
}

.u41_down {
    background-image: url('../Clinician_Treatment_files/u39_down.png');
}

.u41_selected {
    background-image: url('../Clinician_Treatment_files/u39_down.png');
}

.u41_original {
    background-image: url('../Clinician_Treatment_files/u39_original.png');
}

.u41_container {
    position:absolute;
    left:0px;
    top:48px;
    width:208px;
    height:48px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:214px;
    height:54px;
}

.u42 {
    position:absolute;
    left:2px;
    top:15px;
    width:204px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:0px;
    top:48px;
    width:208px;
    height:48px
}

