* html .u0_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u0_original.png");
}

* html .u2_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u2_original.png");
}

* html .u4_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u4_original.png");
}

* html .u6_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u6_down.png");
}

* html .u6_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u6_down.png");
}

* html .u6_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u6_original.png");
}

* html .u8_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u8_down.png");
}

* html .u8_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u8_down.png");
}

* html .u8_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u8_original.png");
}

* html .u10_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u10_original.png");
}

* html .u12_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u8_down.png");
}

* html .u12_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u8_down.png");
}

* html .u12_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u8_original.png");
}

* html .u14_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u14_original.png");
}

* html .u18_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u18_down.png");
}

* html .u18_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u18_selected.png");
}

* html .u18_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u18_original.png");
}

* html .u20_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u20_down.png");
}

* html .u20_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u20_selected.png");
}

* html .u20_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u20_original.png");
}

* html .u22_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u22_line.png");
}

* html .u24_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u18_down.png");
}

* html .u24_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u18_selected.png");
}

* html .u24_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u18_original.png");
}

* html .u26_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u20_down.png");
}

* html .u26_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u20_selected.png");
}

* html .u26_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u20_original.png");
}

* html .u28_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u28_line.png");
}

* html .u30_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u18_down.png");
}

* html .u30_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u18_selected.png");
}

* html .u30_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u18_original.png");
}

* html .u32_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u20_down.png");
}

* html .u32_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u20_selected.png");
}

* html .u32_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u20_original.png");
}

* html .u34_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u34_line.png");
}

* html .u36_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u18_down.png");
}

* html .u36_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u18_selected.png");
}

* html .u36_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u18_original.png");
}

* html .u38_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u20_down.png");
}

* html .u38_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u20_selected.png");
}

* html .u38_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u20_original.png");
}

* html .u40_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u40_line.png");
}

* html .u42_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u42_original.png");
}

* html .u49_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u18_down.png");
}

* html .u49_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u18_selected.png");
}

* html .u49_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u18_original.png");
}

* html .u51_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u20_down.png");
}

* html .u51_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u20_selected.png");
}

* html .u51_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u20_original.png");
}

* html .u53_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u53_line.png");
}

* html .u55_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u18_down.png");
}

* html .u55_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u18_selected.png");
}

* html .u55_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u18_original.png");
}

* html .u57_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u20_down.png");
}

* html .u57_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u20_selected.png");
}

* html .u57_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u20_original.png");
}

* html .u59_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u59_line.png");
}

* html .u61_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u42_original.png");
}

* html .u65_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u65_down.png");
}

* html .u65_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u65_selected.png");
}

* html .u65_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u65_original.png");
}

* html .u67_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u67_down.png");
}

* html .u67_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u67_selected.png");
}

* html .u67_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u67_original.png");
}

* html .u69_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u69_line.png");
}

* html .u74_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u18_down.png");
}

* html .u74_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u18_selected.png");
}

* html .u74_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u18_original.png");
}

* html .u76_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u20_down.png");
}

* html .u76_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u20_selected.png");
}

* html .u76_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u20_original.png");
}

* html .u78_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u78_line.png");
}

* html .u80_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u18_down.png");
}

* html .u80_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u18_selected.png");
}

* html .u80_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u18_original.png");
}

* html .u82_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u20_down.png");
}

* html .u82_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u20_selected.png");
}

* html .u82_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u20_original.png");
}

* html .u84_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u84_line.png");
}

* html .u86_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u18_down.png");
}

* html .u86_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u18_selected.png");
}

* html .u86_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u18_original.png");
}

* html .u88_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u20_down.png");
}

* html .u88_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u20_selected.png");
}

* html .u88_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u20_original.png");
}

* html .u90_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u90_line.png");
}

* html .u92_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u18_down.png");
}

* html .u92_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u18_selected.png");
}

* html .u92_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u18_original.png");
}

* html .u94_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u20_down.png");
}

* html .u94_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u20_selected.png");
}

* html .u94_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u20_original.png");
}

* html .u96_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u96_line.png");
}

* html .u98_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u18_down.png");
}

* html .u98_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u18_selected.png");
}

* html .u98_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u18_original.png");
}

* html .u100_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u20_down.png");
}

* html .u100_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u20_selected.png");
}

* html .u100_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u20_original.png");
}

* html .u102_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u102_line.png");
}

* html .u104_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u18_down.png");
}

* html .u104_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u18_selected.png");
}

* html .u104_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u18_original.png");
}

* html .u106_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u20_down.png");
}

* html .u106_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u20_selected.png");
}

* html .u106_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u20_original.png");
}

* html .u108_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u108_line.png");
}

* html .u110_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u42_original.png");
}

* html .u114_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u65_down.png");
}

* html .u114_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u65_selected.png");
}

* html .u114_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u65_original.png");
}

* html .u116_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u67_down.png");
}

* html .u116_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u67_selected.png");
}

* html .u116_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u67_original.png");
}

* html .u118_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u118_line.png");
}

* html .u122_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u18_down.png");
}

* html .u122_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u18_selected.png");
}

* html .u122_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u18_original.png");
}

* html .u124_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u20_down.png");
}

* html .u124_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u20_selected.png");
}

* html .u124_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u20_original.png");
}

* html .u126_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u126_line.png");
}

* html .u130_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u18_down.png");
}

* html .u130_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u18_selected.png");
}

* html .u130_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u18_original.png");
}

* html .u132_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u20_down.png");
}

* html .u132_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u20_selected.png");
}

* html .u132_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u20_original.png");
}

* html .u134_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u134_line.png");
}

* html .u136_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u18_down.png");
}

* html .u136_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u18_selected.png");
}

* html .u136_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u18_original.png");
}

* html .u138_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u20_down.png");
}

* html .u138_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u20_selected.png");
}

* html .u138_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u20_original.png");
}

* html .u140_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u140_line.png");
}

* html .u143_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u42_original.png");
}

* html .u147_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u65_down.png");
}

* html .u147_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u65_selected.png");
}

* html .u147_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u65_original.png");
}

* html .u149_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u67_down.png");
}

* html .u149_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u67_selected.png");
}

* html .u149_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u67_original.png");
}

* html .u151_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u151_line.png");
}

* html .u154_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u42_original.png");
}

* html .u158_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u158_down.png");
}

* html .u158_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u158_selected.png");
}

* html .u158_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u158_original.png");
}

* html .u160_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u160_down.png");
}

* html .u160_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u160_selected.png");
}

* html .u160_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u160_original.png");
}

* html .u162_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u162_line.png");
}

* html .u164_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u65_down.png");
}

* html .u164_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u65_selected.png");
}

* html .u164_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u65_original.png");
}

* html .u166_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u67_down.png");
}

* html .u166_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u67_selected.png");
}

* html .u166_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u67_original.png");
}

* html .u168_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u168_line.png");
}

* html .u173_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u173_down.png");
}

* html .u173_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u173_selected.png");
}

* html .u173_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u173_original.png");
}

* html .u175_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u175_down.png");
}

* html .u175_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u175_selected.png");
}

* html .u175_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u175_original.png");
}

* html .u177_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u177_line.png");
}

* html .u178_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u173_down.png");
}

* html .u178_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u173_selected.png");
}

* html .u178_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u173_original.png");
}

* html .u180_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u175_down.png");
}

* html .u180_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u175_selected.png");
}

* html .u180_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u175_original.png");
}

* html .u182_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u182_line.png");
}

* html .u185_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u185_down.png");
}

* html .u185_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u185_selected.png");
}

* html .u185_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u185_original.png");
}

* html .u187_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u187_down.png");
}

* html .u187_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u187_selected.png");
}

* html .u187_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u187_original.png");
}

* html .u189_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u189_line.png");
}

* html .u190_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u190_down.png");
}

* html .u190_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u190_selected.png");
}

* html .u190_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u190_original.png");
}

* html .u192_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u192_down.png");
}

* html .u192_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u192_selected.png");
}

* html .u192_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u192_original.png");
}

* html .u194_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u194_line.png");
}

* html .u197_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u65_down.png");
}

* html .u197_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u65_selected.png");
}

* html .u197_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u65_original.png");
}

* html .u199_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u67_down.png");
}

* html .u199_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u67_selected.png");
}

* html .u199_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u67_original.png");
}

* html .u201_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u201_line.png");
}

* html .u208_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u173_down.png");
}

* html .u208_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u173_selected.png");
}

* html .u208_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u173_original.png");
}

* html .u210_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u175_down.png");
}

* html .u210_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u175_selected.png");
}

* html .u210_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u175_original.png");
}

* html .u212_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u212_line.png");
}

* html .u213_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u173_down.png");
}

* html .u213_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u173_selected.png");
}

* html .u213_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u173_original.png");
}

* html .u215_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u175_down.png");
}

* html .u215_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u175_selected.png");
}

* html .u215_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u175_original.png");
}

* html .u217_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u217_line.png");
}

* html .u218_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u42_original.png");
}

* html .u224_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u65_down.png");
}

* html .u224_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u65_selected.png");
}

* html .u224_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u65_original.png");
}

* html .u226_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u67_down.png");
}

* html .u226_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u67_selected.png");
}

* html .u226_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u67_original.png");
}

* html .u228_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u228_line.png");
}

* html .u229_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u65_down.png");
}

* html .u229_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u65_selected.png");
}

* html .u229_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u65_original.png");
}

* html .u231_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u67_down.png");
}

* html .u231_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u67_selected.png");
}

* html .u231_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u67_original.png");
}

* html .u233_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u233_line.png");
}

* html .u234_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u65_down.png");
}

* html .u234_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u65_selected.png");
}

* html .u234_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u65_original.png");
}

* html .u236_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u67_down.png");
}

* html .u236_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u67_selected.png");
}

* html .u236_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u67_original.png");
}

* html .u238_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u238_line.png");
}

* html .u241_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u42_original.png");
}

* html .u254_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Clinician_Questions_files/u254_line.png");
}

