* html .u0_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u0_original.png");
}

* html .u2_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u2_original.png");
}

* html .u4_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u4_original.png");
}

* html .u6_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u6_down.png");
}

* html .u6_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u6_down.png");
}

* html .u6_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u6_original.png");
}

* html .u8_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u8_down.png");
}

* html .u8_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u8_down.png");
}

* html .u8_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u8_original.png");
}

* html .u10_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u10_original.png");
}

* html .u12_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u8_down.png");
}

* html .u12_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u8_down.png");
}

* html .u12_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u8_original.png");
}

* html .u14_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u14_original.png");
}

* html .u21_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u21_down.png");
}

* html .u21_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u21_selected.png");
}

* html .u21_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u21_original.png");
}

* html .u23_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u23_down.png");
}

* html .u23_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u23_selected.png");
}

* html .u23_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u23_original.png");
}

* html .u25_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u25_line.png");
}

* html .u27_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u27_original.png");
}

* html .u29_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u10_original.png");
}

* html .u32_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u21_down.png");
}

* html .u32_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u21_selected.png");
}

* html .u32_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u21_original.png");
}

* html .u34_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u23_down.png");
}

* html .u34_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u23_selected.png");
}

* html .u34_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u23_original.png");
}

* html .u36_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u36_line.png");
}

* html .u38_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u21_down.png");
}

* html .u38_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u21_selected.png");
}

* html .u38_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u21_original.png");
}

* html .u40_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u23_down.png");
}

* html .u40_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u23_selected.png");
}

* html .u40_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u23_original.png");
}

* html .u42_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u42_line.png");
}

* html .u48_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u21_down.png");
}

* html .u48_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u21_selected.png");
}

* html .u48_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u21_original.png");
}

* html .u50_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u23_down.png");
}

* html .u50_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u23_selected.png");
}

* html .u50_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u23_original.png");
}

* html .u52_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u52_line.png");
}

* html .u53_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u21_down.png");
}

* html .u53_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u21_selected.png");
}

* html .u53_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u21_original.png");
}

* html .u55_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u23_down.png");
}

* html .u55_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u23_selected.png");
}

* html .u55_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u23_original.png");
}

* html .u57_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u57_line.png");
}

* html .u59_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u59_original.png");
}

* html .u61_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u10_original.png");
}

* html .u64_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u21_down.png");
}

* html .u64_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u21_selected.png");
}

* html .u64_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u21_original.png");
}

* html .u66_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u23_down.png");
}

* html .u66_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u23_selected.png");
}

* html .u66_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u23_original.png");
}

* html .u68_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u68_line.png");
}

* html .u74_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u21_down.png");
}

* html .u74_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u21_selected.png");
}

* html .u74_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u21_original.png");
}

* html .u76_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u23_down.png");
}

* html .u76_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u23_selected.png");
}

* html .u76_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u23_original.png");
}

* html .u78_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u78_line.png");
}

* html .u79_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u21_down.png");
}

* html .u79_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u21_selected.png");
}

* html .u79_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u21_original.png");
}

* html .u81_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u23_down.png");
}

* html .u81_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u23_selected.png");
}

* html .u81_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u23_original.png");
}

* html .u83_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u83_line.png");
}

* html .u85_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u59_original.png");
}

* html .u87_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u10_original.png");
}

* html .u93_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u21_down.png");
}

* html .u93_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u21_selected.png");
}

* html .u93_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u21_original.png");
}

* html .u95_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u23_down.png");
}

* html .u95_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u23_selected.png");
}

* html .u95_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u23_original.png");
}

* html .u97_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u97_line.png");
}

* html .u99_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u59_original.png");
}

* html .u101_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u10_original.png");
}

* html .u106_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u21_down.png");
}

* html .u106_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u21_selected.png");
}

* html .u106_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u21_original.png");
}

* html .u108_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u23_down.png");
}

* html .u108_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u23_selected.png");
}

* html .u108_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u23_original.png");
}

* html .u110_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u110_line.png");
}

* html .u111_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u21_down.png");
}

* html .u111_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u21_selected.png");
}

* html .u111_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u21_original.png");
}

* html .u113_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u23_down.png");
}

* html .u113_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u23_selected.png");
}

* html .u113_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u23_original.png");
}

* html .u115_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u115_line.png");
}

* html .u116_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u21_down.png");
}

* html .u116_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u21_selected.png");
}

* html .u116_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u21_original.png");
}

* html .u118_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u23_down.png");
}

* html .u118_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u23_selected.png");
}

* html .u118_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u23_original.png");
}

* html .u120_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u120_line.png");
}

* html .u122_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u59_original.png");
}

* html .u124_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u10_original.png");
}

* html .u130_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u59_original.png");
}

* html .u132_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u10_original.png");
}

* html .u135_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u21_down.png");
}

* html .u135_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u21_selected.png");
}

* html .u135_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u21_original.png");
}

* html .u137_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u23_down.png");
}

* html .u137_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u23_selected.png");
}

* html .u137_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u23_original.png");
}

* html .u139_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Community_Questions_files/u139_line.png");
}

