body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_line {
    background-image: url('../Canvas_files/u0_line.png');
}

.u0_line {
    position:absolute;
    left:20px;
    top:634px;
    width:1240px;
    height:3px;
}

.u0 {
    position:absolute;
    left:20px;
    top:634px;
    width:1240px;
    height:3px
}

.u1 {
    position:absolute;
    left:1040px;
    top:645px;
    width:240px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_line {
    background-image: url('../Canvas_files/u2_line.png');
}

.u2_line {
    position:absolute;
    left:20px;
    top:44px;
    width:1240px;
    height:3px;
}

.u2 {
    position:absolute;
    left:20px;
    top:44px;
    width:1240px;
    height:3px
}

.u3 {
    position:absolute;
    left:20px;
    top:20px;
    width:250px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_text {
    position:absolute;
    left:20px;
    top:640px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:20px;
    top:640px;
    width:150px;
    height:15px
}

.u6_original {
    background-image: url('../Canvas_files/u6_original.png');
}

.u6_container {
    position:absolute;
    left:10px;
    top:0px;
    width:573px;
    height:418px;
}

#u6_img {
    position:absolute;
    left:0px;
    top:0px;
    width:573px;
    height:418px;
}

.u7 {
    position:absolute;
    left:2px;
    top:201px;
    width:569px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:10px;
    top:0px;
    width:573px;
    height:418px
}

.u8_original {
    background-image: url('../Canvas_files/u8_original.png');
}

.u8_container {
    position:absolute;
    left:10px;
    top:160px;
    width:520px;
    height:260px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:520px;
    height:260px;
}

.u9 {
    position:absolute;
    left:2px;
    top:122px;
    width:516px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:10px;
    top:160px;
    width:520px;
    height:260px
}

.u10_original {
    background-image: url('../Canvas_files/u10_original.png');
}

.u10_container {
    position:absolute;
    left:10px;
    top:120px;
    width:600px;
    height:299px;
}

#u10_img {
    position:absolute;
    left:0px;
    top:0px;
    width:600px;
    height:299px;
}

.u11 {
    position:absolute;
    left:2px;
    top:142px;
    width:596px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:10px;
    top:120px;
    width:600px;
    height:299px
}

.u12_original {
    background-image: url('../Canvas_files/u12_original.png');
}

.u12_container {
    position:absolute;
    left:10px;
    top:239px;
    width:220px;
    height:181px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:220px;
    height:181px;
}

.u13 {
    position:absolute;
    left:2px;
    top:82px;
    width:216px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:10px;
    top:239px;
    width:220px;
    height:181px
}

.u14_original {
    background-image: url('../Canvas_files/u14_original.png');
}

.u14_container {
    position:absolute;
    left:10px;
    top:259px;
    width:240px;
    height:161px;
}

#u14_img {
    position:absolute;
    left:0px;
    top:0px;
    width:240px;
    height:161px;
}

.u15 {
    position:absolute;
    left:2px;
    top:72px;
    width:236px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:10px;
    top:259px;
    width:240px;
    height:161px
}

.u16_original {
    background-image: url('../Canvas_files/u16_original.png');
}

.u16_container {
    position:absolute;
    left:10px;
    top:195px;
    width:640px;
    height:213px;
}

#u16_img {
    position:absolute;
    left:0px;
    top:0px;
    width:640px;
    height:213px;
}

.u17 {
    position:absolute;
    left:2px;
    top:98px;
    width:636px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:10px;
    top:195px;
    width:640px;
    height:213px
}

.u18_original {
    background-image: url('../Canvas_files/u18_original.png');
}

.u18_container {
    position:absolute;
    left:10px;
    top:135px;
    width:590px;
    height:289px;
}

#u18_img {
    position:absolute;
    left:0px;
    top:0px;
    width:590px;
    height:289px;
}

.u19 {
    position:absolute;
    left:2px;
    top:136px;
    width:586px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:10px;
    top:135px;
    width:590px;
    height:289px
}

.u20_original {
    background-image: url('../Canvas_files/u20_original.png');
}

.u20_container {
    position:absolute;
    left:10px;
    top:213px;
    width:520px;
    height:212px;
}

#u20_img {
    position:absolute;
    left:0px;
    top:0px;
    width:520px;
    height:212px;
}

.u21 {
    position:absolute;
    left:2px;
    top:98px;
    width:516px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:10px;
    top:213px;
    width:520px;
    height:212px
}

.u22_original {
    background-image: url('../Canvas_files/u22_original.png');
}

.u22_container {
    position:absolute;
    left:10px;
    top:263px;
    width:470px;
    height:157px;
}

#u22_img {
    position:absolute;
    left:0px;
    top:0px;
    width:470px;
    height:157px;
}

.u23 {
    position:absolute;
    left:2px;
    top:70px;
    width:466px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:10px;
    top:263px;
    width:470px;
    height:157px
}

.u24_original {
    background-image: url('../Canvas_files/u24_original.png');
}

.u24_container {
    position:absolute;
    left:10px;
    top:266px;
    width:460px;
    height:154px;
}

#u24_img {
    position:absolute;
    left:0px;
    top:0px;
    width:460px;
    height:154px;
}

.u25 {
    position:absolute;
    left:2px;
    top:69px;
    width:456px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:10px;
    top:266px;
    width:460px;
    height:154px
}

.u26_hover {
    background-image: url('../Canvas_files/u26_hover.png');
}

.u26_original {
    background-image: url('../Canvas_files/u26_original.png');
}

.u26_container {
    position:absolute;
    left:10px;
    top:300px;
    width:227px;
    height:120px;
}

#u26_img {
    position:absolute;
    left:0px;
    top:0px;
    width:227px;
    height:120px;
}

.u27 {
    position:absolute;
    left:2px;
    top:52px;
    width:223px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:10px;
    top:300px;
    width:227px;
    height:120px
}

.u28_hover {
    background-image: url('../Canvas_files/u28_hover.png');
}

.u28_original {
    background-image: url('../Canvas_files/u28_original.png');
}

.u28_container {
    position:absolute;
    left:10px;
    top:310px;
    width:188px;
    height:110px;
}

#u28_img {
    position:absolute;
    left:0px;
    top:0px;
    width:188px;
    height:110px;
}

.u29 {
    position:absolute;
    left:2px;
    top:47px;
    width:184px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:10px;
    top:310px;
    width:188px;
    height:110px
}

.u30_hover {
    background-image: url('../Canvas_files/u30_hover.png');
}

.u30_original {
    background-image: url('../Canvas_files/u30_original.png');
}

.u30_container {
    position:absolute;
    left:10px;
    top:300px;
    width:277px;
    height:120px;
}

#u30_img {
    position:absolute;
    left:0px;
    top:0px;
    width:277px;
    height:120px;
}

.u31 {
    position:absolute;
    left:2px;
    top:52px;
    width:273px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:10px;
    top:300px;
    width:277px;
    height:120px
}

.u32_hover {
    background-image: url('../Canvas_files/u32_hover.png');
}

.u32_original {
    background-image: url('../Canvas_files/u32_original.png');
}

.u32_container {
    position:absolute;
    left:10px;
    top:300px;
    width:226px;
    height:120px;
}

#u32_img {
    position:absolute;
    left:0px;
    top:0px;
    width:226px;
    height:120px;
}

.u33 {
    position:absolute;
    left:2px;
    top:52px;
    width:222px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:10px;
    top:300px;
    width:226px;
    height:120px
}

.u34_original {
    background-image: url('../Canvas_files/u34_original.png');
}

.u34_container {
    position:absolute;
    left:10px;
    top:301px;
    width:260px;
    height:119px;
}

#u34_img {
    position:absolute;
    left:0px;
    top:0px;
    width:260px;
    height:119px;
}

.u35 {
    position:absolute;
    left:2px;
    top:52px;
    width:256px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:10px;
    top:301px;
    width:260px;
    height:119px
}

.u36_hover {
    background-image: url('../Canvas_files/u36_hover.png');
}

.u36_original {
    background-image: url('../Canvas_files/u36_original.png');
}

.u36_container {
    position:absolute;
    left:10px;
    top:290px;
    width:203px;
    height:130px;
}

#u36_img {
    position:absolute;
    left:0px;
    top:0px;
    width:203px;
    height:130px;
}

.u37 {
    position:absolute;
    left:2px;
    top:57px;
    width:199px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:10px;
    top:290px;
    width:203px;
    height:130px
}

.u38_hover {
    background-image: url('../Canvas_files/u38_hover.png');
}

.u38_original {
    background-image: url('../Canvas_files/u38_original.png');
}

.u38_container {
    position:absolute;
    left:10px;
    top:300px;
    width:199px;
    height:120px;
}

#u38_img {
    position:absolute;
    left:0px;
    top:0px;
    width:199px;
    height:120px;
}

.u39 {
    position:absolute;
    left:2px;
    top:52px;
    width:195px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:10px;
    top:300px;
    width:199px;
    height:120px
}

.u40_hover {
    background-image: url('../Canvas_files/u40_hover.png');
}

.u40_original {
    background-image: url('../Canvas_files/u40_original.png');
}

.u40_container {
    position:absolute;
    left:10px;
    top:300px;
    width:214px;
    height:120px;
}

#u40_img {
    position:absolute;
    left:0px;
    top:0px;
    width:214px;
    height:120px;
}

.u41 {
    position:absolute;
    left:2px;
    top:52px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:10px;
    top:300px;
    width:214px;
    height:120px
}

.u42_hover {
    background-image: url('../Canvas_files/u42_hover.png');
}

.u42_original {
    background-image: url('../Canvas_files/u42_original.png');
}

.u42_container {
    position:absolute;
    left:10px;
    top:294px;
    width:210px;
    height:126px;
}

#u42_img {
    position:absolute;
    left:0px;
    top:0px;
    width:210px;
    height:126px;
}

.u43 {
    position:absolute;
    left:2px;
    top:55px;
    width:206px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:10px;
    top:294px;
    width:210px;
    height:126px
}

.u45_hover {
    background-image: url('../Canvas_files/u45_hover.png');
}

.u45_original {
    background-image: url('../Canvas_files/u45_original.png');
}

.u45_container {
    position:absolute;
    left:13px;
    top:150px;
    width:67px;
    height:180px;
}

#u45_img {
    position:absolute;
    left:0px;
    top:0px;
    width:67px;
    height:180px;
}

.u46 {
    position:absolute;
    left:2px;
    top:82px;
    width:63px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:13px;
    top:150px;
    width:67px;
    height:180px
}

.u47_hover {
    background-image: url('../Canvas_files/u47_hover.png');
}

.u47_original {
    background-image: url('../Canvas_files/u47_original.png');
}

.u47_container {
    position:absolute;
    left:10px;
    top:140px;
    width:120px;
    height:189px;
}

#u47_img {
    position:absolute;
    left:0px;
    top:0px;
    width:120px;
    height:189px;
}

.u48 {
    position:absolute;
    left:2px;
    top:86px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:10px;
    top:140px;
    width:120px;
    height:189px
}

.u49_hover {
    background-image: url('../Canvas_files/u49_hover.png');
}

.u49_original {
    background-image: url('../Canvas_files/u49_original.png');
}

.u49_container {
    position:absolute;
    left:10px;
    top:158px;
    width:131px;
    height:172px;
}

#u49_img {
    position:absolute;
    left:0px;
    top:0px;
    width:131px;
    height:172px;
}

.u50 {
    position:absolute;
    left:2px;
    top:78px;
    width:127px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:10px;
    top:158px;
    width:131px;
    height:172px
}

.u51_hover {
    background-image: url('../Canvas_files/u51_hover.png');
}

.u51_original {
    background-image: url('../Canvas_files/u51_original.png');
}

.u51_container {
    position:absolute;
    left:10px;
    top:156px;
    width:85px;
    height:174px;
}

#u51_img {
    position:absolute;
    left:0px;
    top:0px;
    width:85px;
    height:174px;
}

.u52 {
    position:absolute;
    left:2px;
    top:79px;
    width:81px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:10px;
    top:156px;
    width:85px;
    height:174px
}

.u53_hover {
    background-image: url('../Canvas_files/u53_hover.png');
}

.u53_original {
    background-image: url('../Canvas_files/u53_original.png');
}

.u53_container {
    position:absolute;
    left:10px;
    top:200px;
    width:63px;
    height:130px;
}

#u53_img {
    position:absolute;
    left:0px;
    top:0px;
    width:63px;
    height:130px;
}

.u54 {
    position:absolute;
    left:2px;
    top:57px;
    width:59px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:10px;
    top:200px;
    width:63px;
    height:130px
}

.u55_hover {
    background-image: url('../Canvas_files/u55_hover.png');
}

.u55_original {
    background-image: url('../Canvas_files/u55_original.png');
}

.u55_container {
    position:absolute;
    left:10px;
    top:194px;
    width:50px;
    height:135px;
}

#u55_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:135px;
}

.u56 {
    position:absolute;
    left:2px;
    top:60px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:10px;
    top:194px;
    width:50px;
    height:135px
}

.u57_hover {
    background-image: url('../Canvas_files/u57_hover.png');
}

.u57_original {
    background-image: url('../Canvas_files/u57_original.png');
}

.u57_container {
    position:absolute;
    left:10px;
    top:155px;
    width:80px;
    height:175px;
}

#u57_img {
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:175px;
}

.u58 {
    position:absolute;
    left:2px;
    top:80px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:10px;
    top:155px;
    width:80px;
    height:175px
}

.u59_hover {
    background-image: url('../Canvas_files/u59_hover.png');
}

.u59_original {
    background-image: url('../Canvas_files/u59_original.png');
}

.u59_container {
    position:absolute;
    left:10px;
    top:140px;
    width:70px;
    height:189px;
}

#u59_img {
    position:absolute;
    left:0px;
    top:0px;
    width:70px;
    height:189px;
}

.u60 {
    position:absolute;
    left:2px;
    top:86px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:10px;
    top:140px;
    width:70px;
    height:189px
}

