body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
    position: relative;
    left: -0px;
    width: 336px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../Community_Treatment_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:480px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:486px;
}

.u1 {
    position:absolute;
    left:2px;
    top:232px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:480px
}

.u2_original {
    background-image: url('../Community_Treatment_files/u2_original.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:16px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:22px;
}

.u3 {
    position:absolute;
    left:2px;
    top:0px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:16px
}

.u4_original {
    background-image: url('../Community_Treatment_files/u4_original.png');
}

.u4_container {
    position:absolute;
    left:0px;
    top:17px;
    width:320px;
    height:63px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:69px;
}

.u5 {
    position:absolute;
    left:2px;
    top:24px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:0px;
    top:17px;
    width:320px;
    height:63px
}

.u6_down {
    background-image: url('../Community_Treatment_files/u6_down.png');
}

.u6_selected {
    background-image: url('../Community_Treatment_files/u6_down.png');
}

.u6_original {
    background-image: url('../Community_Treatment_files/u6_original.png');
}

.u6_container {
    position:absolute;
    left:16px;
    top:28px;
    width:96px;
    height:40px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:102px;
    height:46px;
}

.u7 {
    position:absolute;
    left:8px;
    top:11px;
    width:80px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:16px;
    top:28px;
    width:96px;
    height:40px
}

.u8_down {
    background-image: url('../Community_Treatment_files/u8_down.png');
}

.u8_selected {
    background-image: url('../Community_Treatment_files/u8_down.png');
}

.u8_original {
    background-image: url('../Community_Treatment_files/u8_original.png');
}

.u8_container {
    position:absolute;
    left:216px;
    top:27px;
    width:88px;
    height:40px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:94px;
    height:46px;
}

.u9 {
    position:absolute;
    left:8px;
    top:11px;
    width:72px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:216px;
    top:27px;
    width:88px;
    height:40px
}

.u10_original {
    background-image: url('../Community_Treatment_files/u10_original.png');
}

.u10_container {
    position:absolute;
    left:272px;
    top:32px;
    width:32px;
    height:32px;
}

#u10_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u11 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:272px;
    top:32px;
    width:32px;
    height:32px
}

.u13 {
    position:absolute;
    left:24px;
    top:128px;
    width:216px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:24px;
    top:302px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_down {
    background-image: url('../Community_Treatment_files/u15_down.png');
}

.u15_selected {
    background-image: url('../Community_Treatment_files/u15_down.png');
}

.u15_original {
    background-image: url('../Community_Treatment_files/u15_original.png');
}

.u15_container {
    position:absolute;
    left:16px;
    top:160px;
    width:232px;
    height:48px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:238px;
    height:54px;
}

.u16 {
    position:absolute;
    left:8px;
    top:15px;
    width:222px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:16px;
    top:160px;
    width:232px;
    height:48px
}

.u17_down {
    background-image: url('../Community_Treatment_files/u15_down.png');
}

.u17_selected {
    background-image: url('../Community_Treatment_files/u15_down.png');
}

.u17_original {
    background-image: url('../Community_Treatment_files/u15_original.png');
}

.u17_container {
    position:absolute;
    left:16px;
    top:336px;
    width:232px;
    height:48px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:238px;
    height:54px;
}

.u18 {
    position:absolute;
    left:8px;
    top:15px;
    width:222px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:16px;
    top:336px;
    width:232px;
    height:48px
}

.u19_down {
    background-image: url('../Community_Treatment_files/u15_down.png');
}

.u19_selected {
    background-image: url('../Community_Treatment_files/u15_down.png');
}

.u19_original {
    background-image: url('../Community_Treatment_files/u15_original.png');
}

.u19_container {
    position:absolute;
    left:16px;
    top:216px;
    width:232px;
    height:48px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:238px;
    height:54px;
}

.u20 {
    position:absolute;
    left:8px;
    top:8px;
    width:222px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:16px;
    top:216px;
    width:232px;
    height:48px
}

.u21_down {
    background-image: url('../Community_Treatment_files/u15_down.png');
}

.u21_selected {
    background-image: url('../Community_Treatment_files/u15_down.png');
}

.u21_original {
    background-image: url('../Community_Treatment_files/u15_original.png');
}

.u21_container {
    position:absolute;
    left:16px;
    top:504px;
    width:232px;
    height:48px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:238px;
    height:54px;
}

.u22 {
    position:absolute;
    left:8px;
    top:6px;
    width:222px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:16px;
    top:504px;
    width:232px;
    height:48px
}

.u23_down {
    background-image: url('../Community_Treatment_files/u15_down.png');
}

.u23_selected {
    background-image: url('../Community_Treatment_files/u15_down.png');
}

.u23_original {
    background-image: url('../Community_Treatment_files/u15_original.png');
}

.u23_container {
    position:absolute;
    left:16px;
    top:392px;
    width:232px;
    height:48px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:238px;
    height:54px;
}

.u24 {
    position:absolute;
    left:8px;
    top:6px;
    width:222px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:16px;
    top:392px;
    width:232px;
    height:48px
}

.u25_down {
    background-image: url('../Community_Treatment_files/u15_down.png');
}

.u25_selected {
    background-image: url('../Community_Treatment_files/u15_down.png');
}

.u25_original {
    background-image: url('../Community_Treatment_files/u15_original.png');
}

.u25_container {
    position:absolute;
    left:16px;
    top:448px;
    width:232px;
    height:48px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:238px;
    height:54px;
}

.u26 {
    position:absolute;
    left:8px;
    top:6px;
    width:222px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:16px;
    top:448px;
    width:232px;
    height:48px
}

.u27_disabled {
    background-image: url('../Community_Treatment_files/u27_disabled.png');
}

.u27_original {
    background-image: url('../Community_Treatment_files/u27_original.png');
}

.u27_container {
    position:absolute;
    left:16px;
    top:608px;
    width:288px;
    height:48px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:294px;
    height:54px;
}

.u28 {
    position:absolute;
    left:2px;
    top:15px;
    width:284px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:16px;
    top:608px;
    width:288px;
    height:48px
}

.u29_down {
    background-image: url('../Community_Treatment_files/u29_down.png');
}

.u29_selected {
    background-image: url('../Community_Treatment_files/u29_down.png');
}

.u29_original {
    background-image: url('../Community_Treatment_files/u29_original.png');
}

.u29_container {
    position:absolute;
    left:256px;
    top:160px;
    width:48px;
    height:48px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:54px;
    height:54px;
}

.u30 {
    position:absolute;
    left:32px;
    top:16px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:256px;
    top:160px;
    width:48px;
    height:48px
}

.u31_original {
    background-image: url('../Community_Treatment_files/u31_original.png');
}

.u31_container {
    position:absolute;
    left:264px;
    top:168px;
    width:32px;
    height:32px;
}

#u31_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u32 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:264px;
    top:168px;
    width:32px;
    height:32px
}

.u33_down {
    background-image: url('../Community_Treatment_files/u29_down.png');
}

.u33_selected {
    background-image: url('../Community_Treatment_files/u29_down.png');
}

.u33_original {
    background-image: url('../Community_Treatment_files/u29_original.png');
}

.u33_container {
    position:absolute;
    left:256px;
    top:216px;
    width:48px;
    height:48px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:54px;
    height:54px;
}

.u34 {
    position:absolute;
    left:32px;
    top:16px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:256px;
    top:216px;
    width:48px;
    height:48px
}

.u35_original {
    background-image: url('../Community_Treatment_files/u31_original.png');
}

.u35_container {
    position:absolute;
    left:264px;
    top:224px;
    width:32px;
    height:32px;
}

#u35_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u36 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:264px;
    top:224px;
    width:32px;
    height:32px
}

.u37_down {
    background-image: url('../Community_Treatment_files/u29_down.png');
}

.u37_selected {
    background-image: url('../Community_Treatment_files/u29_down.png');
}

.u37_original {
    background-image: url('../Community_Treatment_files/u29_original.png');
}

.u37_container {
    position:absolute;
    left:256px;
    top:392px;
    width:48px;
    height:48px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:54px;
    height:54px;
}

.u38 {
    position:absolute;
    left:32px;
    top:16px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:256px;
    top:392px;
    width:48px;
    height:48px
}

.u39_original {
    background-image: url('../Community_Treatment_files/u31_original.png');
}

.u39_container {
    position:absolute;
    left:264px;
    top:400px;
    width:32px;
    height:32px;
}

#u39_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u40 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:264px;
    top:400px;
    width:32px;
    height:32px
}

.u41_down {
    background-image: url('../Community_Treatment_files/u29_down.png');
}

.u41_selected {
    background-image: url('../Community_Treatment_files/u29_down.png');
}

.u41_original {
    background-image: url('../Community_Treatment_files/u29_original.png');
}

.u41_container {
    position:absolute;
    left:256px;
    top:336px;
    width:48px;
    height:48px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:54px;
    height:54px;
}

.u42 {
    position:absolute;
    left:32px;
    top:16px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:256px;
    top:336px;
    width:48px;
    height:48px
}

.u43_original {
    background-image: url('../Community_Treatment_files/u31_original.png');
}

.u43_container {
    position:absolute;
    left:264px;
    top:344px;
    width:32px;
    height:32px;
}

#u43_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u44 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:264px;
    top:344px;
    width:32px;
    height:32px
}

.u45_down {
    background-image: url('../Community_Treatment_files/u29_down.png');
}

.u45_selected {
    background-image: url('../Community_Treatment_files/u29_down.png');
}

.u45_original {
    background-image: url('../Community_Treatment_files/u29_original.png');
}

.u45_container {
    position:absolute;
    left:256px;
    top:448px;
    width:48px;
    height:48px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:54px;
    height:54px;
}

.u46 {
    position:absolute;
    left:32px;
    top:16px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:256px;
    top:448px;
    width:48px;
    height:48px
}

.u47_original {
    background-image: url('../Community_Treatment_files/u31_original.png');
}

.u47_container {
    position:absolute;
    left:264px;
    top:456px;
    width:32px;
    height:32px;
}

#u47_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u48 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:264px;
    top:456px;
    width:32px;
    height:32px
}

.u49_down {
    background-image: url('../Community_Treatment_files/u29_down.png');
}

.u49_selected {
    background-image: url('../Community_Treatment_files/u29_down.png');
}

.u49_original {
    background-image: url('../Community_Treatment_files/u29_original.png');
}

.u49_container {
    position:absolute;
    left:256px;
    top:504px;
    width:48px;
    height:48px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:54px;
    height:54px;
}

.u50 {
    position:absolute;
    left:32px;
    top:16px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:256px;
    top:504px;
    width:48px;
    height:48px
}

.u51_original {
    background-image: url('../Community_Treatment_files/u31_original.png');
}

.u51_container {
    position:absolute;
    left:264px;
    top:512px;
    width:32px;
    height:32px;
}

#u51_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u52 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:264px;
    top:512px;
    width:32px;
    height:32px
}

.u53 {
    position:absolute;
    left:16px;
    top:16px;
    width:240px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:16px;
    top:48px;
    width:288px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_down {
    background-image: url('../Community_Treatment_files/u56_down.png');
}

.u56_selected {
    background-image: url('../Community_Treatment_files/u56_down.png');
}

.u56_original {
    background-image: url('../Community_Treatment_files/u56_original.png');
}

.u56_container {
    position:absolute;
    left:0px;
    top:0px;
    width:208px;
    height:48px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:214px;
    height:54px;
}

.u57 {
    position:absolute;
    left:2px;
    top:15px;
    width:204px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:0px;
    top:0px;
    width:208px;
    height:48px
}

.u58_down {
    background-image: url('../Community_Treatment_files/u56_down.png');
}

.u58_selected {
    background-image: url('../Community_Treatment_files/u56_down.png');
}

.u58_original {
    background-image: url('../Community_Treatment_files/u56_original.png');
}

.u58_container {
    position:absolute;
    left:0px;
    top:48px;
    width:208px;
    height:48px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:214px;
    height:54px;
}

.u59 {
    position:absolute;
    left:2px;
    top:15px;
    width:204px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:0px;
    top:48px;
    width:208px;
    height:48px
}

