body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
    position: relative;
    left: -0px;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../Clinician_Saved_Assessment_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:480px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:486px;
}

.u1 {
    position:absolute;
    left:2px;
    top:232px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:480px
}

.u2_original {
    background-image: url('../Clinician_Saved_Assessment_files/u2_original.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:16px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:22px;
}

.u3 {
    position:absolute;
    left:2px;
    top:0px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:16px
}

.u4 {
    position:absolute;
    left:16px;
    top:36px;
    width:240px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_down {
    background-image: url('../Clinician_Saved_Assessment_files/u5_down.png');
}

.u5_selected {
    background-image: url('../Clinician_Saved_Assessment_files/u5_down.png');
}

.u5_original {
    background-image: url('../Clinician_Saved_Assessment_files/u5_original.png');
}

.u5_container {
    position:absolute;
    left:16px;
    top:112px;
    width:288px;
    height:48px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:294px;
    height:54px;
}

.u6 {
    position:absolute;
    left:40px;
    top:15px;
    width:246px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:16px;
    top:112px;
    width:288px;
    height:48px
}

.u7 {
    position:absolute;
    left:168px;
    top:126px;
    width:128px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_down {
    background-image: url('../Clinician_Saved_Assessment_files/u5_down.png');
}

.u8_selected {
    background-image: url('../Clinician_Saved_Assessment_files/u5_down.png');
}

.u8_original {
    background-image: url('../Clinician_Saved_Assessment_files/u5_original.png');
}

.u8_container {
    position:absolute;
    left:16px;
    top:168px;
    width:288px;
    height:48px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:294px;
    height:54px;
}

.u9 {
    position:absolute;
    left:40px;
    top:15px;
    width:246px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:16px;
    top:168px;
    width:288px;
    height:48px
}

.u10_down {
    background-image: url('../Clinician_Saved_Assessment_files/u5_down.png');
}

.u10_selected {
    background-image: url('../Clinician_Saved_Assessment_files/u5_down.png');
}

.u10_original {
    background-image: url('../Clinician_Saved_Assessment_files/u5_original.png');
}

.u10_container {
    position:absolute;
    left:16px;
    top:280px;
    width:288px;
    height:48px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:294px;
    height:54px;
}

.u11 {
    position:absolute;
    left:40px;
    top:15px;
    width:246px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:16px;
    top:280px;
    width:288px;
    height:48px
}

.u12_down {
    background-image: url('../Clinician_Saved_Assessment_files/u5_down.png');
}

.u12_selected {
    background-image: url('../Clinician_Saved_Assessment_files/u5_down.png');
}

.u12_original {
    background-image: url('../Clinician_Saved_Assessment_files/u5_original.png');
}

.u12_container {
    position:absolute;
    left:16px;
    top:224px;
    width:288px;
    height:48px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:294px;
    height:54px;
}

.u13 {
    position:absolute;
    left:40px;
    top:15px;
    width:246px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:16px;
    top:224px;
    width:288px;
    height:48px
}

.u14_down {
    background-image: url('../Clinician_Saved_Assessment_files/u5_down.png');
}

.u14_selected {
    background-image: url('../Clinician_Saved_Assessment_files/u5_down.png');
}

.u14_original {
    background-image: url('../Clinician_Saved_Assessment_files/u5_original.png');
}

.u14_container {
    position:absolute;
    left:16px;
    top:336px;
    width:288px;
    height:48px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:294px;
    height:54px;
}

.u15 {
    position:absolute;
    left:40px;
    top:15px;
    width:246px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:16px;
    top:336px;
    width:288px;
    height:48px
}

.u16_text {
    position:absolute;
    left:168px;
    top:183px;
    width:128px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:168px;
    top:183px;
    width:128px;
    height:18px
}

.u17 {
    position:absolute;
    left:176px;
    top:296px;
    width:120px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:224px;
    top:238px;
    width:72px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:176px;
    top:354px;
    width:120px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_original {
    background-image: url('../Clinician_Saved_Assessment_files/u20_original.png');
}

.u20_container {
    position:absolute;
    left:32px;
    top:128px;
    width:12px;
    height:12px;
}

#u20_img {
    position:absolute;
    left:0px;
    top:0px;
    width:12px;
    height:12px;
}

.u21 {
    position:absolute;
    left:2px;
    top:-2px;
    width:8px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:32px;
    top:128px;
    width:12px;
    height:12px
}

.u22_original {
    background-image: url('../Clinician_Saved_Assessment_files/u22_original.png');
}

.u22_container {
    position:absolute;
    left:32px;
    top:188px;
    width:12px;
    height:12px;
}

#u22_img {
    position:absolute;
    left:0px;
    top:0px;
    width:12px;
    height:12px;
}

.u23 {
    position:absolute;
    left:2px;
    top:-2px;
    width:8px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:32px;
    top:188px;
    width:12px;
    height:12px
}

.u24_original {
    background-image: url('../Clinician_Saved_Assessment_files/u22_original.png');
}

.u24_container {
    position:absolute;
    left:32px;
    top:244px;
    width:12px;
    height:12px;
}

#u24_img {
    position:absolute;
    left:0px;
    top:0px;
    width:12px;
    height:12px;
}

.u25 {
    position:absolute;
    left:2px;
    top:-2px;
    width:8px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:32px;
    top:244px;
    width:12px;
    height:12px
}

.u26_original {
    background-image: url('../Clinician_Saved_Assessment_files/u22_original.png');
}

.u26_container {
    position:absolute;
    left:32px;
    top:356px;
    width:12px;
    height:12px;
}

#u26_img {
    position:absolute;
    left:0px;
    top:0px;
    width:12px;
    height:12px;
}

.u27 {
    position:absolute;
    left:2px;
    top:-2px;
    width:8px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:32px;
    top:356px;
    width:12px;
    height:12px
}

.u28_original {
    background-image: url('../Clinician_Saved_Assessment_files/u22_original.png');
}

.u28_container {
    position:absolute;
    left:32px;
    top:300px;
    width:12px;
    height:12px;
}

#u28_img {
    position:absolute;
    left:0px;
    top:0px;
    width:12px;
    height:12px;
}

.u29 {
    position:absolute;
    left:2px;
    top:-2px;
    width:8px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:32px;
    top:300px;
    width:12px;
    height:12px
}

