body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../Community_Questions_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:480px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:486px;
}

.u1 {
    position:absolute;
    left:2px;
    top:232px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:480px
}

.u2_original {
    background-image: url('../Community_Questions_files/u2_original.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:16px;
    width:320px;
    height:64px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:70px;
}

.u3 {
    position:absolute;
    left:2px;
    top:24px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:0px;
    top:16px;
    width:320px;
    height:64px
}

.u4_down {
    background-image: url('../Community_Questions_files/u4_down.png');
}

.u4_selected {
    background-image: url('../Community_Questions_files/u4_down.png');
}

.u4_original {
    background-image: url('../Community_Questions_files/u4_original.png');
}

.u4_container {
    position:absolute;
    left:112px;
    top:28px;
    width:96px;
    height:40px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:102px;
    height:46px;
}

.u5 {
    position:absolute;
    left:8px;
    top:11px;
    width:80px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:112px;
    top:28px;
    width:96px;
    height:40px
}

.u6_down {
    background-image: url('../Community_Questions_files/u6_down.png');
}

.u6_selected {
    background-image: url('../Community_Questions_files/u6_down.png');
}

.u6_original {
    background-image: url('../Community_Questions_files/u6_original.png');
}

.u6_container {
    position:absolute;
    left:224px;
    top:28px;
    width:80px;
    height:40px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:46px;
}

.u7 {
    position:absolute;
    left:8px;
    top:11px;
    width:64px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:224px;
    top:28px;
    width:80px;
    height:40px
}

.u8_original {
    background-image: url('../Community_Questions_files/u8_original.png');
}

.u8_container {
    position:absolute;
    left:268px;
    top:32px;
    width:32px;
    height:32px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u9 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:268px;
    top:32px;
    width:32px;
    height:32px
}

.u10_down {
    background-image: url('../Community_Questions_files/u6_down.png');
}

.u10_selected {
    background-image: url('../Community_Questions_files/u6_down.png');
}

.u10_original {
    background-image: url('../Community_Questions_files/u6_original.png');
}

.u10_container {
    position:absolute;
    left:16px;
    top:28px;
    width:80px;
    height:40px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:46px;
}

.u11 {
    position:absolute;
    left:8px;
    top:11px;
    width:64px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:16px;
    top:28px;
    width:80px;
    height:40px
}

.u12_original {
    background-image: url('../Community_Questions_files/u12_original.png');
}

.u12_container {
    position:absolute;
    left:20px;
    top:32px;
    width:32px;
    height:32px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u13 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:20px;
    top:32px;
    width:32px;
    height:32px
}

.u15 {
    position:absolute;
    left:16px;
    top:160px;
    width:280px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_down {
    background-image: url('../Community_Questions_files/u16_down.png');
}

.u16_selected {
    background-image: url('../Community_Questions_files/u16_selected.png');
}

.u16_original {
    background-image: url('../Community_Questions_files/u16_original.png');
}

.u16_container {
    position:absolute;
    left:32px;
    top:184px;
    width:128px;
    height:48px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:54px;
}

.u17 {
    position:absolute;
    left:2px;
    top:15px;
    width:124px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:32px;
    top:184px;
    width:128px;
    height:48px
}

.u18_down {
    background-image: url('../Community_Questions_files/u18_down.png');
}

.u18_selected {
    background-image: url('../Community_Questions_files/u18_selected.png');
}

.u18_original {
    background-image: url('../Community_Questions_files/u18_original.png');
}

.u18_container {
    position:absolute;
    left:160px;
    top:184px;
    width:128px;
    height:48px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:54px;
}

.u19 {
    position:absolute;
    left:2px;
    top:15px;
    width:124px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:160px;
    top:184px;
    width:128px;
    height:48px
}

.u20_line {
    background-image: url('../Community_Questions_files/u20_line.png');
}

.u20_line {
    position:absolute;
    left:159px;
    top:184px;
    width:3px;
    height:48px;
}

.u20 {
    position:absolute;
    left:159px;
    top:184px;
    width:3px;
    height:48px
}

.u21 {
    position:absolute;
    left:16px;
    top:48px;
    width:280px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_down {
    background-image: url('../Community_Questions_files/u16_down.png');
}

.u22_selected {
    background-image: url('../Community_Questions_files/u16_selected.png');
}

.u22_original {
    background-image: url('../Community_Questions_files/u16_original.png');
}

.u22_container {
    position:absolute;
    left:32px;
    top:80px;
    width:128px;
    height:48px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:54px;
}

.u23 {
    position:absolute;
    left:2px;
    top:15px;
    width:124px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:32px;
    top:80px;
    width:128px;
    height:48px
}

.u24_down {
    background-image: url('../Community_Questions_files/u18_down.png');
}

.u24_selected {
    background-image: url('../Community_Questions_files/u18_selected.png');
}

.u24_original {
    background-image: url('../Community_Questions_files/u18_original.png');
}

.u24_container {
    position:absolute;
    left:160px;
    top:80px;
    width:128px;
    height:48px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:54px;
}

.u25 {
    position:absolute;
    left:2px;
    top:15px;
    width:124px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:160px;
    top:80px;
    width:128px;
    height:48px
}

.u26_line {
    background-image: url('../Community_Questions_files/u26_line.png');
}

.u26_line {
    position:absolute;
    left:159px;
    top:80px;
    width:3px;
    height:48px;
}

.u26 {
    position:absolute;
    left:159px;
    top:80px;
    width:3px;
    height:48px
}

.u27_original {
    background-image: url('../Community_Questions_files/u27_original.png');
}

.u27_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:32px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:38px;
}

.u28 {
    position:absolute;
    left:2px;
    top:8px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:32px
}

.u29 {
    position:absolute;
    left:16px;
    top:8px;
    width:214px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:209px;
    top:8px;
    width:96px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:16px;
    top:48px;
    width:280px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_down {
    background-image: url('../Community_Questions_files/u16_down.png');
}

.u32_selected {
    background-image: url('../Community_Questions_files/u16_selected.png');
}

.u32_original {
    background-image: url('../Community_Questions_files/u16_original.png');
}

.u32_container {
    position:absolute;
    left:32px;
    top:88px;
    width:128px;
    height:48px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:54px;
}

.u33 {
    position:absolute;
    left:2px;
    top:15px;
    width:124px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:32px;
    top:88px;
    width:128px;
    height:48px
}

.u34_down {
    background-image: url('../Community_Questions_files/u18_down.png');
}

.u34_selected {
    background-image: url('../Community_Questions_files/u18_selected.png');
}

.u34_original {
    background-image: url('../Community_Questions_files/u18_original.png');
}

.u34_container {
    position:absolute;
    left:160px;
    top:88px;
    width:128px;
    height:48px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:54px;
}

.u35 {
    position:absolute;
    left:2px;
    top:15px;
    width:124px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:160px;
    top:88px;
    width:128px;
    height:48px
}

.u36_line {
    background-image: url('../Community_Questions_files/u36_line.png');
}

.u36_line {
    position:absolute;
    left:159px;
    top:88px;
    width:3px;
    height:48px;
}

.u36 {
    position:absolute;
    left:159px;
    top:88px;
    width:3px;
    height:48px
}

.u37 {
    position:absolute;
    left:16px;
    top:176px;
    width:280px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_down {
    background-image: url('../Community_Questions_files/u16_down.png');
}

.u38_selected {
    background-image: url('../Community_Questions_files/u16_selected.png');
}

.u38_original {
    background-image: url('../Community_Questions_files/u16_original.png');
}

.u38_container {
    position:absolute;
    left:32px;
    top:200px;
    width:128px;
    height:48px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:54px;
}

.u39 {
    position:absolute;
    left:2px;
    top:15px;
    width:124px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:32px;
    top:200px;
    width:128px;
    height:48px
}

.u40_down {
    background-image: url('../Community_Questions_files/u18_down.png');
}

.u40_selected {
    background-image: url('../Community_Questions_files/u18_selected.png');
}

.u40_original {
    background-image: url('../Community_Questions_files/u18_original.png');
}

.u40_container {
    position:absolute;
    left:160px;
    top:200px;
    width:128px;
    height:48px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:54px;
}

.u41 {
    position:absolute;
    left:2px;
    top:15px;
    width:124px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:160px;
    top:200px;
    width:128px;
    height:48px
}

.u42_line {
    background-image: url('../Community_Questions_files/u42_line.png');
}

.u42_line {
    position:absolute;
    left:159px;
    top:200px;
    width:3px;
    height:48px;
}

.u42 {
    position:absolute;
    left:159px;
    top:200px;
    width:3px;
    height:48px
}

.u43_original {
    background-image: url('../Community_Questions_files/u27_original.png');
}

.u43_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:32px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:38px;
}

.u44 {
    position:absolute;
    left:2px;
    top:8px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:32px
}

.u45 {
    position:absolute;
    left:18px;
    top:8px;
    width:174px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:209px;
    top:8px;
    width:96px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:0px;
    top:0px;
    width:288px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:0px;
    top:40px;
    width:288px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u51 {
    position:absolute;
    left:0px;
    top:0px;
    width:288px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:0px;
    top:96px;
    width:280px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_down {
    background-image: url('../Community_Questions_files/u16_down.png');
}

.u53_selected {
    background-image: url('../Community_Questions_files/u16_selected.png');
}

.u53_original {
    background-image: url('../Community_Questions_files/u16_original.png');
}

.u53_container {
    position:absolute;
    left:16px;
    top:120px;
    width:128px;
    height:48px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:54px;
}

.u54 {
    position:absolute;
    left:2px;
    top:15px;
    width:124px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:16px;
    top:120px;
    width:128px;
    height:48px
}

.u55_down {
    background-image: url('../Community_Questions_files/u18_down.png');
}

.u55_selected {
    background-image: url('../Community_Questions_files/u18_selected.png');
}

.u55_original {
    background-image: url('../Community_Questions_files/u18_original.png');
}

.u55_container {
    position:absolute;
    left:144px;
    top:120px;
    width:128px;
    height:48px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:54px;
}

.u56 {
    position:absolute;
    left:2px;
    top:15px;
    width:124px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:144px;
    top:120px;
    width:128px;
    height:48px
}

.u57_line {
    background-image: url('../Community_Questions_files/u57_line.png');
}

.u57_line {
    position:absolute;
    left:143px;
    top:120px;
    width:3px;
    height:48px;
}

.u57 {
    position:absolute;
    left:143px;
    top:120px;
    width:3px;
    height:48px
}

.u58 {
    position:absolute;
    left:0px;
    top:40px;
    width:288px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u59_original {
    background-image: url('../Community_Questions_files/u27_original.png');
}

.u59_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:32px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:38px;
}

.u60 {
    position:absolute;
    left:2px;
    top:8px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:32px
}

.u61 {
    position:absolute;
    left:16px;
    top:8px;
    width:214px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:0px;
    top:0px;
    width:288px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:0px;
    top:96px;
    width:280px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_down {
    background-image: url('../Community_Questions_files/u16_down.png');
}

.u65_selected {
    background-image: url('../Community_Questions_files/u16_selected.png');
}

.u65_original {
    background-image: url('../Community_Questions_files/u16_original.png');
}

.u65_container {
    position:absolute;
    left:16px;
    top:120px;
    width:128px;
    height:48px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:54px;
}

.u66 {
    position:absolute;
    left:2px;
    top:15px;
    width:124px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:16px;
    top:120px;
    width:128px;
    height:48px
}

.u67_down {
    background-image: url('../Community_Questions_files/u18_down.png');
}

.u67_selected {
    background-image: url('../Community_Questions_files/u18_selected.png');
}

.u67_original {
    background-image: url('../Community_Questions_files/u18_original.png');
}

.u67_container {
    position:absolute;
    left:144px;
    top:120px;
    width:128px;
    height:48px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:54px;
}

.u68 {
    position:absolute;
    left:2px;
    top:15px;
    width:124px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:144px;
    top:120px;
    width:128px;
    height:48px
}

.u69_line {
    background-image: url('../Community_Questions_files/u69_line.png');
}

.u69_line {
    position:absolute;
    left:143px;
    top:120px;
    width:3px;
    height:48px;
}

.u69 {
    position:absolute;
    left:143px;
    top:120px;
    width:3px;
    height:48px
}

.u70 {
    position:absolute;
    left:0px;
    top:40px;
    width:288px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u71 {
    position:absolute;
    left:209px;
    top:8px;
    width:96px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72 {
    position:absolute;
    left:16px;
    top:48px;
    width:280px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_down {
    background-image: url('../Community_Questions_files/u16_down.png');
}

.u73_selected {
    background-image: url('../Community_Questions_files/u16_selected.png');
}

.u73_original {
    background-image: url('../Community_Questions_files/u16_original.png');
}

.u73_container {
    position:absolute;
    left:32px;
    top:88px;
    width:128px;
    height:48px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:54px;
}

.u74 {
    position:absolute;
    left:2px;
    top:15px;
    width:124px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:32px;
    top:88px;
    width:128px;
    height:48px
}

.u75_down {
    background-image: url('../Community_Questions_files/u18_down.png');
}

.u75_selected {
    background-image: url('../Community_Questions_files/u18_selected.png');
}

.u75_original {
    background-image: url('../Community_Questions_files/u18_original.png');
}

.u75_container {
    position:absolute;
    left:160px;
    top:88px;
    width:128px;
    height:48px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:54px;
}

.u76 {
    position:absolute;
    left:2px;
    top:15px;
    width:124px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75 {
    position:absolute;
    left:160px;
    top:88px;
    width:128px;
    height:48px
}

.u77_line {
    background-image: url('../Community_Questions_files/u77_line.png');
}

.u77_line {
    position:absolute;
    left:159px;
    top:88px;
    width:3px;
    height:48px;
}

.u77 {
    position:absolute;
    left:159px;
    top:88px;
    width:3px;
    height:48px
}

.u78 {
    position:absolute;
    left:16px;
    top:176px;
    width:280px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_down {
    background-image: url('../Community_Questions_files/u16_down.png');
}

.u79_selected {
    background-image: url('../Community_Questions_files/u16_selected.png');
}

.u79_original {
    background-image: url('../Community_Questions_files/u16_original.png');
}

.u79_container {
    position:absolute;
    left:32px;
    top:200px;
    width:128px;
    height:48px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:54px;
}

.u80 {
    position:absolute;
    left:2px;
    top:15px;
    width:124px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79 {
    position:absolute;
    left:32px;
    top:200px;
    width:128px;
    height:48px
}

.u81_down {
    background-image: url('../Community_Questions_files/u18_down.png');
}

.u81_selected {
    background-image: url('../Community_Questions_files/u18_selected.png');
}

.u81_original {
    background-image: url('../Community_Questions_files/u18_original.png');
}

.u81_container {
    position:absolute;
    left:160px;
    top:200px;
    width:128px;
    height:48px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:54px;
}

.u82 {
    position:absolute;
    left:2px;
    top:15px;
    width:124px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81 {
    position:absolute;
    left:160px;
    top:200px;
    width:128px;
    height:48px
}

.u83_line {
    background-image: url('../Community_Questions_files/u83_line.png');
}

.u83_line {
    position:absolute;
    left:159px;
    top:200px;
    width:3px;
    height:48px;
}

.u83 {
    position:absolute;
    left:159px;
    top:200px;
    width:3px;
    height:48px
}

.u84 {
    position:absolute;
    left:16px;
    top:288px;
    width:280px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_down {
    background-image: url('../Community_Questions_files/u85_down.png');
}

.u85_selected {
    background-image: url('../Community_Questions_files/u85_selected.png');
}

.u85_original {
    background-image: url('../Community_Questions_files/u85_original.png');
}

.u85_container {
    position:absolute;
    left:32px;
    top:312px;
    width:122px;
    height:48px;
}

#u85_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:128px;
    height:54px;
}

.u86 {
    position:absolute;
    left:2px;
    top:15px;
    width:118px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85 {
    position:absolute;
    left:32px;
    top:312px;
    width:122px;
    height:48px
}

.u87_down {
    background-image: url('../Community_Questions_files/u87_down.png');
}

.u87_selected {
    background-image: url('../Community_Questions_files/u87_selected.png');
}

.u87_original {
    background-image: url('../Community_Questions_files/u87_original.png');
}

.u87_container {
    position:absolute;
    left:154px;
    top:312px;
    width:134px;
    height:48px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:140px;
    height:54px;
}

.u88 {
    position:absolute;
    left:2px;
    top:15px;
    width:130px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87 {
    position:absolute;
    left:154px;
    top:312px;
    width:134px;
    height:48px
}

.u89_line {
    background-image: url('../Community_Questions_files/u89_line.png');
}

.u89_line {
    position:absolute;
    left:153px;
    top:312px;
    width:3px;
    height:48px;
}

.u89 {
    position:absolute;
    left:153px;
    top:312px;
    width:3px;
    height:48px
}

.u90_original {
    background-image: url('../Community_Questions_files/u27_original.png');
}

.u90_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:32px;
}

#u90_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:38px;
}

.u91 {
    position:absolute;
    left:2px;
    top:8px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90 {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:32px
}

.u92 {
    position:absolute;
    left:18px;
    top:8px;
    width:174px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93 {
    position:absolute;
    left:209px;
    top:8px;
    width:96px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94 {
    position:absolute;
    left:16px;
    top:48px;
    width:304px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95 {
    position:absolute;
    left:16px;
    top:158px;
    width:288px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96 {
    position:absolute;
    left:16px;
    top:272px;
    width:288px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_down {
    background-image: url('../Community_Questions_files/u16_down.png');
}

.u97_selected {
    background-image: url('../Community_Questions_files/u16_selected.png');
}

.u97_original {
    background-image: url('../Community_Questions_files/u16_original.png');
}

.u97_container {
    position:absolute;
    left:32px;
    top:72px;
    width:128px;
    height:48px;
}

#u97_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:54px;
}

.u98 {
    position:absolute;
    left:2px;
    top:15px;
    width:124px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97 {
    position:absolute;
    left:32px;
    top:72px;
    width:128px;
    height:48px
}

.u99_down {
    background-image: url('../Community_Questions_files/u18_down.png');
}

.u99_selected {
    background-image: url('../Community_Questions_files/u18_selected.png');
}

.u99_original {
    background-image: url('../Community_Questions_files/u18_original.png');
}

.u99_container {
    position:absolute;
    left:160px;
    top:72px;
    width:128px;
    height:48px;
}

#u99_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:54px;
}

.u100 {
    position:absolute;
    left:2px;
    top:15px;
    width:124px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99 {
    position:absolute;
    left:160px;
    top:72px;
    width:128px;
    height:48px
}

.u101_line {
    background-image: url('../Community_Questions_files/u101_line.png');
}

.u101_line {
    position:absolute;
    left:158px;
    top:72px;
    width:3px;
    height:48px;
}

.u101 {
    position:absolute;
    left:158px;
    top:72px;
    width:3px;
    height:48px
}

.u102_down {
    background-image: url('../Community_Questions_files/u16_down.png');
}

.u102_selected {
    background-image: url('../Community_Questions_files/u16_selected.png');
}

.u102_original {
    background-image: url('../Community_Questions_files/u16_original.png');
}

.u102_container {
    position:absolute;
    left:32px;
    top:184px;
    width:128px;
    height:48px;
}

#u102_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:54px;
}

.u103 {
    position:absolute;
    left:2px;
    top:15px;
    width:124px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102 {
    position:absolute;
    left:32px;
    top:184px;
    width:128px;
    height:48px
}

.u104_down {
    background-image: url('../Community_Questions_files/u18_down.png');
}

.u104_selected {
    background-image: url('../Community_Questions_files/u18_selected.png');
}

.u104_original {
    background-image: url('../Community_Questions_files/u18_original.png');
}

.u104_container {
    position:absolute;
    left:160px;
    top:184px;
    width:128px;
    height:48px;
}

#u104_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:54px;
}

.u105 {
    position:absolute;
    left:2px;
    top:15px;
    width:124px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104 {
    position:absolute;
    left:160px;
    top:184px;
    width:128px;
    height:48px
}

.u106_line {
    background-image: url('../Community_Questions_files/u106_line.png');
}

.u106_line {
    position:absolute;
    left:159px;
    top:184px;
    width:3px;
    height:48px;
}

.u106 {
    position:absolute;
    left:159px;
    top:184px;
    width:3px;
    height:48px
}

.u107_down {
    background-image: url('../Community_Questions_files/u16_down.png');
}

.u107_selected {
    background-image: url('../Community_Questions_files/u16_selected.png');
}

.u107_original {
    background-image: url('../Community_Questions_files/u16_original.png');
}

.u107_container {
    position:absolute;
    left:32px;
    top:296px;
    width:128px;
    height:48px;
}

#u107_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:54px;
}

.u108 {
    position:absolute;
    left:2px;
    top:15px;
    width:124px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107 {
    position:absolute;
    left:32px;
    top:296px;
    width:128px;
    height:48px
}

.u109_down {
    background-image: url('../Community_Questions_files/u18_down.png');
}

.u109_selected {
    background-image: url('../Community_Questions_files/u18_selected.png');
}

.u109_original {
    background-image: url('../Community_Questions_files/u18_original.png');
}

.u109_container {
    position:absolute;
    left:160px;
    top:296px;
    width:128px;
    height:48px;
}

#u109_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:54px;
}

.u110 {
    position:absolute;
    left:2px;
    top:15px;
    width:124px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109 {
    position:absolute;
    left:160px;
    top:296px;
    width:128px;
    height:48px
}

.u111_line {
    background-image: url('../Community_Questions_files/u111_line.png');
}

.u111_line {
    position:absolute;
    left:159px;
    top:296px;
    width:3px;
    height:48px;
}

.u111 {
    position:absolute;
    left:159px;
    top:296px;
    width:3px;
    height:48px
}

.u112_original {
    background-image: url('../Community_Questions_files/u27_original.png');
}

.u112_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:32px;
}

#u112_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:38px;
}

.u113 {
    position:absolute;
    left:2px;
    top:8px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112 {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:32px
}

.u114 {
    position:absolute;
    left:18px;
    top:8px;
    width:174px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115 {
    position:absolute;
    left:209px;
    top:8px;
    width:96px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116 {
    position:absolute;
    left:16px;
    top:48px;
    width:280px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117 {
    position:absolute;
    left:16px;
    top:142px;
    width:288px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118 {
    position:absolute;
    left:16px;
    top:224px;
    width:288px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119 {
    position:absolute;
    left:16px;
    top:72px;
    width:288px;
    height:32px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 16px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u120 {
    position:absolute;
    left:16px;
    top:248px;
    width:288px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 16px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u121 {
    position:absolute;
    left:16px;
    top:168px;
    width:48px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 16px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u122 {
    position:absolute;
    left:128px;
    top:168px;
    width:48px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 16px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u123 {
    position:absolute;
    left:72px;
    top:168px;
    width:48px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124 {
    position:absolute;
    left:184px;
    top:168px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125_original {
    background-image: url('../Community_Questions_files/u27_original.png');
}

.u125_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:32px;
}

#u125_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:38px;
}

.u126 {
    position:absolute;
    left:2px;
    top:8px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125 {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:32px
}

.u127 {
    position:absolute;
    left:18px;
    top:8px;
    width:174px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128 {
    position:absolute;
    left:209px;
    top:8px;
    width:96px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129_original {
    background-image: url('../Community_Questions_files/u129_original.png');
}

.u129_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:16px;
}

#u129_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:22px;
}

.u130 {
    position:absolute;
    left:2px;
    top:0px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129 {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:16px
}

.u131_line {
    background-image: url('../Community_Questions_files/u131_line.png');
}

.u131_line {
    position:absolute;
    left:0px;
    top:79px;
    width:320px;
    height:3px;
}

.u131 {
    position:absolute;
    left:0px;
    top:79px;
    width:320px;
    height:3px
}

